* {
    margin: 0;
}
html {

text-rendering: optimizeLegibility !important;

-webkit-font-smoothing: antialiased !important;
-moz-font-smoothing: grayscale;


}
body{
    background-color: #FBF9F6 !important;
    
}
html, body {
    height: 100%;
}
/*
 * Component: Box
 * --------------
 */

.custom-box {
  position: relative;
  border-radius: 3px;
  background: #152331 !important;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.custom-box.custom-box-primary {
  border-top-color: #3c8dbc;
}
.custom-box.custom-box-info {
  border-top-color: #00c0ef;
}
.custom-box.custom-box-danger {
  border-top-color: #dd4b39;
}
.custom-box.custom-box-warning {
  border-top-color: #f39c12;
}
.custom-box.custom-box-success {
  border-top-color: #00a65a;
}
.custom-box.custom-box-default {
  border-top-color: #d2d6de;
}
.custom-box.collapsed-custom-box .custom-box-body,
.custom-box.collapsed-custom-box .custom-box-footer {
  display: none;
}
.custom-box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}
.custom-box .nav-stacked > li:last-of-type {
  border-bottom: none;
}
.custom-box.height-control .custom-box-body {
  max-height: 300px;
  overflow: auto;
}
.custom-box .border-right {
  border-right: 1px solid #f4f4f4;
}
.custom-box .border-left {
  border-left: 1px solid #f4f4f4;
}
.custom-box.custom-box-solid {
  border-top: 0;
}
.custom-box.custom-box-solid > .custom-box-header .btn.btn-default {
  background: transparent;
}
.custom-box.custom-box-solid > .custom-box-header .btn:hover,
.custom-box.custom-box-solid > .custom-box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.custom-box.custom-box-solid.custom-box-default {
  border: 1px solid #d2d6de;
}
.custom-box.custom-box-solid.custom-box-default > .custom-box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}
.custom-box.custom-box-solid.custom-box-default > .custom-box-header a,
.custom-box.custom-box-solid.custom-box-default > .custom-box-header .btn {
  color: #444444;
}
.custom-box.custom-box-solid.custom-box-primary {
  border: 1px solid #3c8dbc;
}
.custom-box.custom-box-solid.custom-box-primary > .custom-box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.custom-box.custom-box-solid.custom-box-primary > .custom-box-header a,
.custom-box.custom-box-solid.custom-box-primary > .custom-box-header .btn {
  color: #ffffff;
}
.custom-box.custom-box-solid.custom-box-info {
  border: 1px solid #00c0ef;
}
.custom-box.custom-box-solid.custom-box-info > .custom-box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.custom-box.custom-box-solid.custom-box-info > .custom-box-header a,
.custom-box.custom-box-solid.custom-box-info > .custom-box-header .btn {
  color: #ffffff;
}
.custom-box.custom-box-solid.custom-box-danger {
  border: 1px solid #dd4b39;
}
.custom-box.custom-box-solid.custom-box-danger > .custom-box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}
.custom-box.custom-box-solid.custom-box-danger > .custom-box-header a,
.custom-box.custom-box-solid.custom-box-danger > .custom-box-header .btn {
  color: #ffffff;
}
.custom-box.custom-box-solid.custom-box-warning {
  border: 1px solid #f39c12;
}
.custom-box.custom-box-solid.custom-box-warning > .custom-box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12;
}
.custom-box.custom-box-solid.custom-box-warning > .custom-box-header a,
.custom-box.custom-box-solid.custom-box-warning > .custom-box-header .btn {
  color: #ffffff;
}
.custom-box.custom-box-solid.custom-box-success {
  border: 1px solid #00a65a;
}
.custom-box.custom-box-solid.custom-box-success > .custom-box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a;
}
.custom-box.custom-box-solid.custom-box-success > .custom-box-header a,
.custom-box.custom-box-solid.custom-box-success > .custom-box-header .btn {
  color: #ffffff;
}
.custom-box.custom-box-solid > .custom-box-header > .custom-box-tools .btn {
  border: 0;
  box-shadow: none;
}
.custom-box.custom-box-solid[class*='bg'] > .custom-box-header {
  color: #fff;
}
.custom-box .custom-box-group > .custom-box {
  margin-bottom: 5px;
}
.custom-box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.custom-box > .overlay,
.overlay-wrapper > .overlay,
.custom-box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.custom-box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.custom-box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.custom-box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.custom-box-header:before,
.custom-box-body:before,
.custom-box-footer:before,
.custom-box-header:after,
.custom-box-body:after,
.custom-box-footer:after {
  content: " ";
  display: table;
}
.custom-box-header:after,
.custom-box-body:after,
.custom-box-footer:after {
  clear: both;
}
.custom-box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.custom-box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.collapsed-custom-box .custom-box-header.with-border {
  border-bottom: none;
}
.custom-box-header > .fa,
.custom-box-header > .glyphicon,
.custom-box-header > .ion,
.custom-box-header .custom-box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.custom-box-header > .fa,
.custom-box-header > .glyphicon,
.custom-box-header > .ion {
  margin-right: 5px;
}
.custom-box-header > .custom-box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.custom-box-header > .custom-box-tools [data-toggle="tooltip"] {
  position: relative;
}
.custom-box-header > .custom-box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.btn-custom-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-custom-box-tool,
.btn-custom-box-tool:hover {
  color: #606c84;
}
.btn-custom-box-tool.btn:active {
  box-shadow: none;
}
.custom-box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .custom-box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.custom-box-body > .table {
  margin-bottom: 0;
}
.custom-box-body .fc {
  margin-top: 5px;
}
.custom-box-body .full-width-chart {
  margin: -19px;
}
.custom-box-body.no-padding .full-width-chart {
  margin: -9px;
}
.custom-box-body .custom-box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.custom-box-body .custom-box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.custom-box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background: #152331 !important;
}
.chart-legend {
  margin: 10px 0;
}
@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}
.custom-box-comments {
  background: #f7f7f7;
}
.custom-box-comments .custom-box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.custom-box-comments .custom-box-comment:before,
.custom-box-comments .custom-box-comment:after {
  content: " ";
  display: table;
}
.custom-box-comments .custom-box-comment:after {
  clear: both;
}
.custom-box-comments .custom-box-comment:last-of-type {
  border-bottom: 0;
}
.custom-box-comments .custom-box-comment:first-of-type {
  padding-top: 0;
}
.custom-box-comments .custom-box-comment img {
  float: left;
}
.custom-box-comments .comment-text {
  margin-left: 40px;
  color: #555;
}
.custom-box-comments .comment-text p{
    font-size: 15px !important;
}
.comment-reply a{
    font-size: 14px !important;
}
.comment-body p{
    font-size: 14px;
}
.custom-box-comments .username {
  color: #444;
  display: block;
  font-weight: 600;
}
.custom-box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}
.custom-box-image{
    float: right;
    display: inline-block;
}
.custom-box h1{
  color:#f3f3f3 !important;
}
.custom-box h2{
  color:#f3f3f3 !important;
}
.custom-box h3{
  color:#f3f3f3 !important;
}
.custom-box h4{
  color:#f3f3f3 !important;
}
.custom-box h5{
  color:#f3f3f3 !important;
}
.custom-box p{
  color:#f3f3f3 !important;
}
.custom-box span{
  color:#f3f3f3 !important;
}
.custom-box .attachment-text{
  color:#f3f3f3 !important;
}
.map-instruction{
  color:#333 !important;
}
/*
 * Component: Social Widgets
 * -------------------------
 */
.custom-box-widget {
  border: none;
  position: relative;
}
.widget-user .widget-user-header {
  padding: 20px;
  height: 230px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.widget-user .widget-user-username {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.widget-user .widget-user-desc {
  margin-top: 0;
}
.widget-user .widget-user-image {
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -45px;
}
.widget-user .widget-user-image > img {
  width: 200px;
  height: auto;
  border: 3px solid #fff;
}
.widget-user .box-footer {
  padding-top: 30px;
}
.widget-user-2 .widget-user-header {
  padding: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.widget-user-2 .widget-user-username {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px !important;
  font-weight: 300;
}
.widget-user-2 .widget-user-desc {
  margin-top: 0;
}
.widget-user-2 .widget-user-username,
.widget-user-2 .widget-user-desc {
  margin-left: 75px;
}
.widget-user-2 .widget-user-image > img {
  width: 65px;
  height: auto;
  float: left;
}
.folder-name{
    position: absolute; 
   top: 35px; 
   left: 10; 
   width: 100%; 
}
.folder-name span { 
   color: white; 
   font-size: 20px !important; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
 .placepicker-map {
        width: 100%;
        height: 300px;
      }
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0em auto -4em;
    }
.content-base{
    padding:10px 0 30px;
    margin-bottom: 40px;
}
    
.footer, .push {
    height: 4em;
    
}
.body-padding{
     padding-top: 100px; 
}
.social i{
    font-size: 26px;
}
.form-select2 span{
    
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 2px solid #bdc3c7 !important;
    color: #34495e !important;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 15px !important;
    line-height: 1.467!important;
    padding: 8px 12px !important;
    height: 42px !important;
    border-radius: 6px !important;
    box-shadow: none;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.social{
    float:right;
}
.social ul {
    list-style: none;
}
.social ul li{
    float:left;
}
.social ul li i{
    border: 1px  solid #dedede;
    padding:10px;
}
.caption{
    font-style: italic;
    font-size: 16px;
    color:#000;
    display: block;
}
.blog-img-section img{
    padding:10px;
    width:520px !important;
    background:#fff;
}
.blog-img-section{
    float:left;
    margin-right:20px;
}
.blog-content{
    display: inline;
}
.post{
    background: #fff;
    padding: 5px;
    border-radius: 6px;
}
.tile .blog-content h2{
    color:#fff !important;
}
.tile .blog-content p{
    color:#fff !important;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-align: center;
  -moz-binding: url(<q>assets/xml/ellipsis.xml#ellipsis</q>);
}
.null-bg-home{
  background: transparent !important;
}
/*.post p{
    color:#fff !important;
}*/
/*------------------------------------*\
    PIE CHART
\*------------------------------------*/
.legend-heading{
    font-size:22px !important;
    color:#fff;
}
.legend-title{
    
    padding-top:60px;
    font-size: 14px;
}
.legend-box{
    margin-top: 150px;

}
.box-article{
    margin-top: 120px !important;
}
.box{
        width:40px;
        height:40px;
        display: block;
}
.blue{
        background:#36C;
} 
.red{
        background:#DC3912;
}
.yellow{
        background:#FF9900;
}
.green{
        background:#109618;
}
.legendLabel{
    color:#fefefe;
    padding-left: 10px;
}
/*------------------------------------*\
    END PIE CHART
\*------------------------------------*/

/*------------------------------------*\
    COMMONS CLASSES
\*------------------------------------*/
a{
    color:#2c3e50;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6
{
    margin-bottom: 1.1em;
    font-size:30px !important;
}

p
{
    margin-bottom: 1.1em;
    font-size:18px !important;
}
.main-content{
    margin-top: 100px;
}
.last{
    margin-bottom:40px !important;
}
.small-title{
    font-size:18px !important;
}
.section{
    padding:20px;
}


.features,
.blog,
.gallery,
.clients,
.prefooter .container-fluid
{
    padding-top: 3.3em;
    padding-bottom: 4.2em;
}

span.typcn::before, i.typcn::before
{
    font-size: 2em;
}

span.x2:before, i.x2:before
{
    font-size: 3.4em;
}

span.x3:before, i.x3:before
{
    font-size: 4.4em;
}

span.x4:before, i.x4:before
{
    font-size: 6em;
}


.tile {
    background-color: #152331 !important;
    box-shadow: 2px 3px 0px 0px RGBA(159, 159, 159, 0.7)!important;
}
.tile{
    text-align: left !important;

}
.tile .category{
    
    color:#e1e1e1 !important;
    
}
.tile p{
    
    color:#e1e1e1 !important;
    
}
.tile span{
    color:#e1e1e1 !important;    
}
.tile p{
    margin-bottom: 2px !important;
}

.tile strong{
    
    color:#e1e1e1 !important;
    
}
.tile-inline{
    float:left;
    margin-left:20px;
}
.councillor img{
    border-radius: 5px 5px 0px 0px;
    margin:0;
    box-shadow: 2px 3px 3px 0px RGBA(0, 0, 0, 0.56) !important;
}
.councillor-tile {
    background-color: #152331 !important;
    box-shadow: 2px 3px 2px 0px RGB(0, 0, 0) !important;
    padding:0px 5px 5px 5px ;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.councillor-tile h4 a{
    font-size:18px !important;
    color: #e1e1e1 !important;
}
.councillor-tile h5{
    font-size:16px !important;
    color: #728290 !important;
}
.m-t-small p{
    color:#333 !important;
}
.search-section{
    padding:10px 0;
}
.search-section button{
    margin:10px 0;
}
.search-section .map-button {
    margin: 0px 0 !important;
    background: #1abc9c !important;
    border: none !important;
}
/*------------------------------------*\
    HEADER
\*------------------------------------*/


header .container-fluid
{
    background: #000;
    background-image: url('images/banners/1707-black.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding-top: 36px;
    padding-bottom: 500px;
    position: relative
}

.hamburger
{
    font-size: 2.3em;
    color: #000;
}

.hamburger:hover
{
  color: #FFF;
  cursor: pointer;
}


.logo
{
    background: none;
    border: 0px;
}

.jumbotron
{
    background: none;
    text-align: center;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6,
.jumbotron small
{
    color: #FFFFFF;
}

.jumbotron p
{
    color: #FFFFFF;
    margin-bottom: 5%;
}

/*------------------------------------*\
    BUTTONS
\*------------------------------------*/
.btn-full{
    width:100%;
    min-width:75px;
}
.btn-mzinda{
        background-color: #00938E !important;
        color:#fefefe!important;
}

.btn-orange{
        background-color: #F9690E !important;
        color:#fefefe!important;
}

.btn-black{
    background:#111 !important;
    color:#fefefe;
}

.btn-danger{
        background-color: #F9690E ;
}
.btn:hover{
    background-color: #000 !important;
}

/*------------------------------------*\
    NAV MENU
\*------------------------------------*/
.space-bottom{
    margin-bottom: 80px;
}
.logo-mzinda{
    width:100%;
    max-width: 250px;
}
.navbar{
        background: rgba(0, 0, 0, 0.9) !important;
        
}
.main-nav{
    
}
.navbar-default  ul {
    min-height:80px;
}
.navbar li {
    color: #fff !important;
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
    padding: 28px 20px;
    font-size: 15px !important;
    font-weight:400;
}
.navbar-default .navbar-nav > li > a > i {
    padding-right: 10px;
}

.navbar-default .navbar-nav li:hover {
  background: #F9690E;
  color: #fff!important;
}

.navbar-default .navbar-nav > .active > li > a,
.navbar-default .navbar-nav > .active > li > a:hover,
.navbar-default .navbar-nav > .active > li > a:focus {
  background: #F9690E;
  color: #fff !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}


/*------------------------------------*\
    SECTIONS
\*------------------------------------*/
.engagement-statistics{
    background: #152331;
    margin-bottom: 40px;
}
.engagement-statistics h2, h3{
    color:#E6E6E6 !important;
}
.engagements-figure{
        color: #D4D4D4 !important;
}
.fixed-statistics{
    background: #6e6e6e;
    margin-bottom: 40px;
}
.fixed-statistics h2{
    color:#E3E3E3 !important;
}
.fixed-statistics  h3{
    color:#E3E3E3 !important;
}
.number .container-fluid
{
        background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.number .container-fluid  h2
{
     color:#fff !important;   
}



.opaline
{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #F9690E;
}

.opaline h1,
.opaline h2,
.opaline h3,
.opaline h4,
.opaline h5,
.opaline h6,
.opaline p,
.opaline li,
{
    color: #FFFFFF;
}

.opaline ul
{
    list-style: none;
    list-style-type: none;
}

.opaline ul li
{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
}

.opaline .boxes
{
    margin-top: 30px;
    padding:20px;
    border: 1px solid #FFF;
    background:#000;
    text-align:center;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #1abc9c;
    background-color: #333 !important;
}


.boxes .odometer.odometer-theme-default
{
  font-family: 'Roboto Slab', serif;
}

/*.story .container-fluid
{
    background-image: url('https://unsplash.it/3000/2000?image=531');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}*/

.gallery
{
    background-color: #dddddd;
}

.prefooter .container-fluid
{
    background: #152331;
}

.prefooter h1,
.prefooter h2,
.prefooter h3,
.prefooter h4,
.prefooter h5,
.prefooter h6,
.prefooter p
{
    color: #FFFFFF;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

footer
{
    background-color: #edeff1;
    padding-top: 2em;
    padding-bottom: 1.2em;
    border-top: 1px solid #dddddd;
    border-width: 3px;
    margin-bottom: 0;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer p
{
        color: #000000;
}

.footer-contact{
    padding-top: 40px;
}

.social
{
    padding-top: 50px;
}

.padding-130{
    padding-top: 110px;
}

/*------------------------------------*\
    PANELS AND LOGINS
\*------------------------------------*/
.clearfix:after {
    
}
.mzinda-learn{
    /*background-color: rgba(5, 5, 5, 0.9) !important;*/
    display: block;
    overflow:auto;
}
.mzinda-learn .intro{

    padding: 24px 23px 30px 30px;
    float: left;
    position: relative;
    border-radius: 6px;
    background-color: rgba(5, 5, 5, 0.9) !important;
}  

.mzinda-learn h3{
    
   font-size:18px;
   color: #fefefe !important;
}  
.mzinda-learn p{
   font-size:16px;
   color:#fefefe;
}


.mzinda-login{
    
}

.mzinda-login .login-form {
    background-color: rgba(5, 5, 5, 0.9) !important;
}

.mzinda-login .login-form .btn-mzinda{
    background: #F9690E !important;
}

.mzinda-login .signup-section{
    margin-top: 5px;
    padding:20px;
    background-color: rgba(5, 5, 5, 0.9) !important;
    background-color: #34495E;
    border-radius:5px;
    

}


.mzinda-login .signup-section a{

    background-color: #34495E !important;    

}

.blog{
    background-color: #D5D5D5 !important;  

}

.login-panel{
    background-color: #fefefe;

    border-radius: 0 0 6px 6px;
}
.login-panel .panel-heading{
    background-color: #2c3e50;
}

.login-panel .panel-heading{
    color: #fefefe;
    margin-bottom: 20px;
}

.login-panel p{
    color: #fefefe;
}
.login-panel a{
    color:#2c3e50;
}

.login-panel label{
    color: #000;
}


.login-panel input{
    
}
.clear-the-air{
    padding-bottom: 20px;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/
.footer-contact i{
    padding-right: 18px;
}


.engagement-box{

    background-color: #152331 !important;
    box-shadow: 2px 3px 2px 0px RGB(0, 0, 0) !important;
    padding:20px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 20px;
    position: relative;

}

.engagement-box h2{
    color:#e1e1e1;
}
.engagement-box h3 {
    color:#e1e1e1;
}
.engagement-box h4 {
    color:#e1e1e1;
    font-size:22px !important;
}
.engagement-box span {
    color:#e1e1e1;
    font-size:18px !important;
    text-align: center;
}
.depth-2{
    padding-left:40px;
}
.engagement-comments .comments-area .comment{
    margin-bottom: 30px;
}
.engagement-comments .comments-area .comment p{
    margin-bottom: 0px;
}
.engagement-comments{

    background-color: #111 !important;
    box-shadow: 0px 3px 2px 2px RGB(0, 0, 0) !important;
    padding: 5px 50px 50px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 20px;
    position: relative;

}

.engagement-comments{
    color:#e1e1e1 !important;
    font-size:.8em!important;
}
/*------------------------------------*\
    BLOG
\*------------------------------------*/
.post{    
    margin: 0 5px;

}
.blog-posts{

}
.flex-post{
    padding: 40px 10px;
    height: 320px;

}
.post-image{
    float:left;
    padding-right: 40px;
    /*width: 33.33333333333333%;*/
}
.post-summary{
    float:left;
   /* width: 66.66666666666666%;*/
}
.post-summary h2{
    margin-top: 0px !important;
}
.divider {
    float:left;
    width: 100%;
    height: 1px;
    background-color: #E1E1E1;
}
.blog-img{
    width:100%;
}
/*------------------------------------*\
    EDIT INROJS CSS
\*------------------------------------*/
.introjs-helperLayer {
    position: absolute;
    z-index: 9999998;
    background-color: #F9690E !important;
    background-color: rgba(249, 105, 14, 0.94) !important;
}
/*------------------------------------*\
    MEDIA QUERIES
\*------------------------------------*/
@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .navbar-nav {
        padding-left: 0 !important;
    }
    .navbar-nav > li > a {
        font-size: 15px !important;
    }

    .navbar-default .navbar-nav > li > a > i {
            font-size: 12px !important;
        }
            
}

@media screen and (max-width: 1042px) {
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
    padding: 28px 16px;
}
@media screen and (max-width: 991px) {
        header .container-fluid
        {
            background: #E9E3E3;
            background-image: url('images/banners/1707-black.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 200vh;
            padding-top: 36px;
            padding-bottom: 500px;
            position: relative
        }
        .navbar-header
        {
            /*width: 25%;*/
        }

        .navbar-brand{
            padding: 0 !important;
        }

        .navbar-nav > li > a {
            font-size: 15px !important;
        }

        .navbar-default .navbar-nav > li > a {
            position: relative;
            display: block;
           
            font-size: 15px !important;
        }

        .navbar-default  ul {
                min-height:80px;
            }
        .navbar-default .navbar-nav > li > a > i {
            font-size: 13px !important;
        }

        .logo-mzinda {
            width: 80%;
            max-width: 250px;
        }
            
        .container {
            width: 100%;
        }
               
         .login-panel{
            background-color: #fefefe;

            padding:0 10px;
            border-radius: 0 0 6px 6px;
        }

        .mzinda-learn{
    
         min-height:450px;
        }  

        .navbar-brand {
            margin-top: 12px !important; 
        }

       .navbar{
            background: rgba(0, 0, 0, 0.9) !important;
            min-height:80px !important;
        }
        .navbar-collapse{
            background: rgba(0, 0, 0, 0.9) !important;
        }
        /**USHAHIDI RESPONSIVENESS**/

        /**For ushahidi reports, responsiveness**/
        div.wrapper, div.rapidxwpr {
            margin: auto;
            width: 100% !important;
        }

        .report_map {
            overflow: hidden;
            width: 100%;
            border: 2px solid #ccc;
            width: 450px;
            height: 350px;
            position: relative;
            /*width: 60% !important;*/
        }
        .report-find-location {
            margin-right: 1px;
            padding: 10px 9px 9px 9px;
            background-color: #eee;
            border: 1px solid #ccc;
            border-width: 0 1px 1px 1px;
            font-size: 90%;
            color: #666;
            /*width: 60% !important;*/
        }
        /**USHAHIDI RESPONSIVENESS**/
}

@media (min-width: 768px) and (max-width: 930px) {
    .navbar-header {
        float: none;
        width: 100%;
        clear:both;

    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-default ul {
        min-height: 150px !important;
        margin-top: 80px;
    }
    .navbar-toggle {
        display: block !important;
        position: relative;
        float: right !important;
        padding-top: 8px !important;

    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
@media screen and (max-width: 768px) {
  #home{
    padding-bottom: 150px;
    background: #152331;
   }

    header .container-fluid
    {

            height: 230vh;
            padding-bottom: 500px;
    }
    .navbar
    {
        background: rgba(0, 0, 0, 0.9) !important;
        min-height:60px !important;
        height:60px !important;

    }

    .navbar-nav{
        width: 100%;
    }
}
/*@media screen (min-width: 385px)  and (max-width: 480px) {

    .navbar-brand
    {
        width:60%;
        margin: 8px 0px 0px !important;      

    }

}*/
@media screen and (max-width: 480px) {

.mzinda-learn .intro {
    padding: 0 10px;
    position: relative;
    border-radius: 6px;
    background-color: rgba(5, 5, 5, 0.9) !important;
}

    .navbar ul 
    {
        width: 100% !important;
    }  
    .shepherd-element.shepherd-theme-arrows .shepherd-content 
    {
        padding: 0;
        margin-top: 110px;
    }
    .device-slider 
    {
        padding-bottom:72px
    }

   .navbar ul 
    {

        width: 20%;
    }
    .navbar-toggle 
    {

        margin: 0 0 0 !important;
        padding: 0 !important;

    }
    .navbar-brand
    {
        width:80%;
        margin: 8px 0px 0px !important;       

    }
    .navbar-brand img
    {

    }

    .navbar
    {
        background: rgba(0, 0, 0, 0.9) !important;
        min-height:50px !important;
        
    }

    #home{
    padding-bottom: 150px;
    background: #152331;
   }

}
