

#main{
	/* The main container div */
	position:relative;

	/*border:1px solid #CCCCCC;*/
	
	
	/* CSS3 rounded cornenrs */
	
	/*-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;*/
}

#holder{
	/* The unordered list that is to be split into pages */

	/*width:400px;*/
	overflow:hidden;
	position:relative;
	padding-bottom:10px;
}

.swControls{
	position:absolute;
	margin-top:10px;
}

a.swShowPage{

	/* The links that initiate the page slide */

	background-color:#444444;
	float:left;
	height:15px;
	margin:4px 3px;
	text-indent:-9999px;
	width:15px;
	/*border:1px solid #ccc;*/
	
	/* CSS3 rounded corners */
	
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

a.swShowPage:hover,
a.swShowPage.active{
	background-color:#2993dd;
	
	/*	CSS3 inner shadow */
	
	-moz-box-shadow:0 0 7px #1e435d inset;
	/*-webkit-box-shadow:0 0 7px #1e435d inset;*/
	box-shadow:0 0 7px #1e435d inset;
}

#holder li{
	list-style:none outside none;
	/*margin:10px 10px 0;
	padding:20px;*/
	float:left;

	/* Regular CSS3 box shadows (not inset): */

}


.clear{
	/* This class clears the floated elements */
	clear:both;
}


/* The styles below are only necessary for the styling of the demo page */
