/*
	Dopetrope by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 13pt;
		line-height: 1.75em;
	}
	
	h2
	{
		font-size: 1.5em;
	}
	
	h3
	{
		font-size: 1.35em;
	}

	/* Section/Article */

		header
		{
			margin: 0 0 1.5em 0;
		}
		
			header > p
			{
				margin: 0.5em 0 0 0;
				padding-bottom: 0.5em;
			}

			header.major
			{
				margin: 0 0 3em 0;
			}

		footer
		{
			margin: 2.25em 0 0 0;
		}
	
	/* Box */

		.box
		{
			padding: 2.75em 1.75em 2.75em 1.75em;
		}
		
			.box .image.featured
			{
				left: 1.75em;
				top: 1.75em;
				margin: -4.5em 0 4.25em -3.5em;
			}

			.box.post
			{
			}
			
				.box.post header
				{
					padding-top: 1em;
					margin: 0 0 2em 0;
				}
			
				.box.post h2
				{
					font-size: 2.5em;
					letter-spacing: -0.015em;
				}
				
				.box.post header > p
				{
					margin-top: 1.25em;
					font-size: 1.25em;
				}

	/* Button */
	
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			font-size: 1.1em;
			padding: 0.65em 1.5em 0.65em 1.5em;
		}

			input[type="button"].big,
			input[type="submit"].big,
			input[type="reset"].big,
			.button.big
			{
				font-size: 1.5em;
				padding: 0.75em 1.5em 0.75em 1.5em;
			}

	/* List */

		ul.actions
		{
		}
		
			ul.actions li
			{
				display: inline-block;
				margin-left: 1em;
			}
			
			ul.actions li:first-child
			{
				margin-left: 0;
			}

		ul.links
		{
		}

			ul.links li
			{
				display: inline-block;
				border-left: solid 1px rgba(255,255,255,0.05);
				padding: 0 0 0 1em;
				margin: 0 0 0 1em;
			}
			
			ul.links li:first-child
			{
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}

		ul.social
		{
			margin: 0 0 3.25em 0;
		}

			ul.social li
			{
				margin-left: 0.75em;
			}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		padding: 4.5em 0 4em 0;
	}

	#main-wrapper
	{
		padding: 4em 0 4em 0;
	}

	#footer-wrapper
	{
		padding: 4em 0 4em 0;
	}

		#footer-wrapper header
		{
			margin: 0 0 3em 0;
		}
		
			#footer-wrapper header h2
			{
				font-size: 1.75em;
			}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		text-align: center;
	}
	
		#header h1
		{
			color: #252122;
			font-weight: 900;
			font-size: 2.5em;
			letter-spacing: -0.035em;
			margin: 0 0 1em 0;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav > ul
		{
			margin: 0;
		}

		#nav > ul > li > ul
		{
			display: none;
		}

		#nav > ul > li
		{
			display: inline-block;
			font-style: italic;
			margin: 0 0.35em 0 0.35em;
		}
		
			#nav > ul > li > a
			{
				border-radius: 5px;
				color: #5d5d5d;
				text-decoration: none;
				padding: 0.6em 1.2em 0.6em 1.2em;
				-moz-transition: background-color .25s ease-in-out;
				-webkit-transition: background-color .25s ease-in-out;
				-o-transition: background-color .25s ease-in-out;
				-ms-transition: background-color .25s ease-in-out;
				transition: background-color .25s ease-in-out;
				outline: 0;
			}

		#nav > ul > li:hover
		{
		}
		
			#nav > ul > li:hover > a
			{
				background: #f3f3f3;
			}
			
		#nav > ul > li.active
		{
		}
		
			#nav > ul > li.active > a
			{
				background: #f3f3f3;
			}
			
		#nav > ul > li.current
		{
		}
		
			#nav > ul > li.current > a
			{
				background: #d52349;
				color: #fff !important;
				font-weight: 700;
			}
			
	.dropotron
	{
		border-radius: 5px;
		background-color: #252122;
		background-color: rgba(34,30,31,0.98);
		padding: 1.25em 1.5em 1.25em 1.5em;
		font-style: italic;
		min-width: 13em;
		box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.5);
		text-align: left;
		margin-top: -1.25em;
		margin-left: -1px;
	}
	
		.dropotron a,
		.dropotron span
		{
			color: #aaa;
			text-decoration: none;
			-moz-transition: color .25s ease-in-out;
			-webkit-transition: color .25s ease-in-out;
			-o-transition: color .25s ease-in-out;
			-ms-transition: color .25s ease-in-out;
			transition: color .25s ease-in-out;
		}
		
		.dropotron li
		{
			padding: 0.25em 0 0.25em 0;
		}

			.dropotron li:hover > a,
			.dropotron li:hover >span
			{
				color: #fff;
			}

		.dropotron.level-0
		{
			margin-top: 2em;
		}
		
			.dropotron.level-0:before
			{
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				margin-left: -10px;
				top: -9px;
				border-left: solid 10px transparent;
				border-right: solid 10px transparent;
				border-bottom: solid 10px #252122;
				border-bottom-color: rgba(34,30,31,0.98);
			}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		padding: 8em 0;
		margin: 4em 0 0 0;
	}
	
		#banner header
		{
			display: inline-block;
			padding: 2.5em 5em;
			border-radius: 5px;
		}
		
			#banner header h2
			{
				font-size: 2.5em;
				margin: 0 0 0.65em 0;
			}

			#banner header p
			{
				font-size: 1.5em;
			}
			
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}

/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro
	{
		overflow: hidden;
	}
	
		#intro section
		{
			margin: 3em 0;
			padding: 2.5em 0;
		}

		#intro h2
		{
			font-size: 1.75em;
		}
		
		#intro p
		{
			margin: 0;
		}
	
		#intro .middle
		{
			position: relative;
			z-index: 1;
		}
		
			#intro .middle:before
			{
				content: '';
				width: 32px;
				height: 100%;
				position: absolute;
				left: -24px;
				top: 0;
				display: block;
				z-index: -1;
				box-shadow:		32px 0 0 0 #fff,
								0 -32px 0 0 #fff,
								0 32px 0 0 #fff,
								32px 32px 0 0 #fff,
								32px -32px 0 0 #fff,
								0 0 32px 0 rgba(0,0,0,0.15);
			}

			#intro .middle:after
			{
				content: '';
				width: 32px;
				height: 100%;
				position: absolute;
				right: -24px;
				top: 0;
				display: block;
				z-index: -1;
				box-shadow:		-32px 0 0 0 #fff,
								0 -32px 0 0 #fff,
								0 32px 0 0 #fff,
								-32px 32px 0 0 #fff,
								-32px -32px 0 0 #fff,
								0 0 32px 0 rgba(0,0,0,0.15);
			}
		
		#intro .button
		{
			min-width: 12em;
		}

		#intro footer
		{
			margin: 0;
		}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
		
	#copyright
	{
		margin: 0;
	}
	
		#copyright .links
		{
			padding: 0.85em 2.25em 0.85em 2.25em;
		}
		