@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  background: #E9E3E3;
}
a {
  color: #e74c3c;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  color: #e76c3c;
}
.row {
  padding: 80px 0px 0px;
}
.black-bg{
  background: #000;
  border-radius:4px;
}

.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}
.btn-common {
  background: #3d566e;
  color: #fff;
}
.btn-common:hover {
  background: #e74c3c;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 30px;
  color: #3F4142;
}
.grey {
  color: #3F4142;
}
.small-title{
  /*color: #3E3E3E;*/
}
.contribute-content{
  padding:0px !important;
  /*color: #3E3E3E;*/
}
.subtitle {
  text-align: center;
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;
  color: #bdc3c7;
}
/*.normalize-row{
  padding:0px;
}*/
.logo{
  padding:0px !important;
  margin-bottom: 8px;
}
.logo-menu{
  width: 100%;
  margin-bottom: 30px;
  display: block;
}
.main-nav li a{
  padding-top: 22px;
  padding-bottom: 22px;
}
.navbar {
  margin-bottom: 0;
  min-height: 70px;
}
.navbar li {
  color: #d1d1d1;
}
.navbar-default {
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.9);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #fff;
}
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover {
  color: #fff;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav li:hover {
  background: #E78200 ;
  padding-bottom: 5px;
  color: #fff;
}
.navbar-default .navbar-brand {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
}
.navbar-default .navbar-brand:hover {
  color: #eee;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #333;
}
.affix.navbar-default {
  background: rgba(0, 0, 0, 0.8);
}
#hero-area {
  
  color: #fff;
  margin-bottom: 10px;
  
}
#hero-area .btn {
  margin-right: 20px;
}
#hero-area img {
  max-width: 100%;
}
#hero-area p {
  padding: 50px 0;
}
#services h3 {
  margin-top: 0;
  font-size: 28px;
  color: #e74c3c;
}
/*Portfolio*/
#portfolio {
  background: #f1f1f1;
}
/*Portfolio Overlay */
.portfolio-item {
  position: relative;
  margin-bottom: 15px;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.portfolio-item:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}
.portfolio-item .icons .preview {
  position: absolute;
  left: 40%;
  top: 40%;
  color: #fff;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.portfolio-item .icons .preview i {
  color: #e74c3c;
}
#clients {
  background: #fff;
}
#about {
  background: #050505;
  color: #fff;
}
#about p {
  line-height: 30px;
  font-size: 17px;
}
#contact {
  background: #f1f1f1;
}
#contact ::-webkit-input-placeholder {
  color: #ecf0f1;
}
#contact :-moz-placeholder {
  color: #ecf0f1;
}
#contact ::-moz-placeholder {
  color: #ecf0f1;
}
#contact :-ms-input-placeholder {
  color: #ecf0f1;
}
#contact .social i {
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #34495e;
}
#contact .social .social-links a:hover {
  color: #fff;
}
#contact .social .fa-facebook:hover {
  background: #3b5998;
  color: #fff;
}
#contact .social .fa-twitter:hover {
  background: #00CAFB;
  color: #fff;
}
#contact .social .fa-google-plus:hover {
  background: #D23A1D;
  color: #fff;
}
#contact .social .fa-linkedin:hover {
  background: #007bb6;
  color: #fff;
}
#contact .social .fa-dribbble:hover {
  background: #ea4c89;
  color: #fff;
}
#contact .social .fa-github:hover {
  background: #171515;
  color: #fff;
}
#contact .contact-info {
  margin: 0px 0;
}
#contact .contact-info p {
  font-size: 20px;
}
#contact .contact-form .form-control {
  box-shadow: none;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: 0;
  border: none;
}

/*Scroll Top*/
.to-top i {
  padding: 10px 15px;
  margin: 10px;
  background: transparent;
  color: #34495e;
  border: 2px solid #34495e;
}
.to-top i:hover {
  background: #34495e;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#copyright {
  background: #F1F1F1;
  color: #333;
}
#copyright a {
  color: #333;
}

.black{
  background-color:#000 !important;
}
.gold{
  background-color:#34495E !important;
}
.green{
  background-color:#000 !important;
}
.search-section{
  margin: 10px 0px;
}
.search-section input{
  border-radius: 0px !important;
  margin-top: 3px;
}
.call-title{

}
#services{
  color:#fff;
  background-color:#11202F;
}
#city{
  color:#fff;
  background:url('../img/btown.jpg');
}
.overlay-black{
  background-color: rgba(0, 0, 0, 0.65);
}
.poll-box {
    float: left;
    background-color: #FFF;
    border: 1px solid #D1D2CE;
    box-shadow: 0px 1px 1px #D1D2CE;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 5px 15px;
    width: 100%;
}
.btn-black{
  background:#000 !important;
}
.category-header{
  width: 100%;
}
.herocat{
  width:100%;
  height: auto;
  background-color:#fff;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  color:inherit;
}
.herocat-list {
  /*padding:20px;*/
 padding-left: 0px !important;
 text-align: center;
}
.herocat-list li{
  /*padding:20px;*/
  list-style: none;
  color:#000;
}
.herocat-list li{
  padding:20px;
  color:#000;
  border-top:2px solid rgba(201, 201, 201, 0.16);

}

.herocat-list li:hover{
  padding:20px;
  color:#fff;
  border-top:2px solid rgba(201, 201, 201, 0.16);
  background-color: #000;

}
.herocat-list li span{
  padding-left:10px;
}
.cat-icons{
  font-size: 25px;
}
.poll-title{
  color:#000;
  width:100%;
}
.poll-option{
  color:#000;
}
.form-full{
  width:100%;
}
.councillor{
  background: #000;
  padding:20px;
  margin-bottom: 2em;
}

/****New Styles**/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400);

.comments-area h3 {
  margin-bottom:36px !important
}
.comments-count span {
  color:#4c4c4c;
  font-weight:normal
}
.comment {
  margin-bottom:48px
}
.comment.depth-2 {
  margin-top:39px;
  padding-left:90px
}
.comment .inner {
  display:table;
  width:100%
}
.comment .author-avatar,.comment .comment-body {
  display:table-cell;
  vertical-align:top
}
.comment .author-avatar {
  width:90px;
  padding:5px 20px 0 0
}
.comment .author-avatar img {
  width:100%;
  border-radius:50%
}
.comment .comment-body {
  padding-top:5px
}
.comment .comment-body p {
  font-size: 16px;
  font-weight: 400;
  color:#444;
}
.comment .comment-meta {
  display:table;
  width:100%;
  font-size:16px;
  font-weight: 400;
  color:#666;
  letter-spacing:0
}
.comment .comment-meta .column {
  display:table-cell;
  vertical-align:top
}
.comment .comment-meta .comment-autor,.comment .comment-meta .comment-date {
  display:inline-block
}
.comment .comment-meta .comment-autor:after {
  display:inline-block;
  vertical-align:middle;
  content:"|";
  margin:-5px 7px 0 9px
}
.comment .comment-meta .comment-reply {
  text-align:right
}
.comment .comment-meta .comment-reply a {
  text-decoration:none;
  text-transform:uppercase
}
@media screen and (max-width: 530px) {
  .comment .inner,.comment .author-avatar,.comment .comment-body {
    display:block
  }
  .comment .author-avatar {
    margin-bottom:18px
  }
  .comment.depth-2 {
    padding-left:25px
  }
}
.comment-respond {
  margin-top:48px
}
.comment-respond .logged-in-as {
  font-size:12px;
  padding-bottom:10px
}
.comment-respond .logged-in-as a {
  text-decoration:none;
  font-weight:bold
}
.comment-respond form {
  margin-top:28.8px
}
.comment-respond .form-submit {
  text-align:center
}
.comment-reply-title small {
  font-size:12px;
  font-style:normal
}
.comment-reply-title small a {
  text-decoration:none;
  font-weight:bold
}
.comment-navigation a,.comment-navigation span {
  font-size:12px;
  text-transform:uppercase;
  text-decoration:none;
  margin-right:8px
}
.comment-navigation span {
  color:#bbcada;
  font-weight:bold
}
.block-title {
  width:100%;
  cursor:default;
  margin-bottom:43px
}
.block-title h1,.block-title h2,.block-title h3,.block-title h4,.block-title h5,.block-title h6 {
  margin-bottom:0
}
.block-title h1,.block-title h2 {
  font-size:24px;
  font-weight:normal
}
.block-title span {
  display:block;
  font-size:16px;
  color:#999;
  margin-bottom:16px
}
@media screen and (max-width: 768px) {
  .block-title {
    margin-bottom:36px
  }
}
@media screen and (max-width: 360px) {
  .block-title {
    margin-bottom:24px
  }
}
.block-title.light-skin h1,.block-title.light-skin h2,.block-title.light-skin h3,.block-title.light-skin h4,.block-title.light-skin h5,.block-title.light-skin h6,.block-title.light-skin span {
  color:#fff;
  font-weight:300
}
.block-title.light-skin span {
  opacity:.75
}
.icon-block {
  display:block;
  width:100%;
  cursor:default;
  margin-bottom:40px
}
.icon-block i {
  width:100%;
  font-size:48px;
  color:#abbdd1;
  margin-bottom:26px
}
.icon-block .ib-title {
  font-size:18px;
  font-weight:600;
  margin-bottom:26px;
  -webkit-transition:color 0.3s;
  -o-transition:color 0.3s;
  transition:color 0.3s
}
.icon-block p {
  font-size:14px
}
.icon-block.light-skin {
  color:#fff
}
.icon-block.light-skin .ib-title {
  color:#fff;
  font-weight:normal
}
.icon-block.light-skin p {
  font-weight:300
}
.split-section {
  position:relative;
  display:block;
  width:100%
}
.split-section .container {
  position:relative;
  z-index:2
}
.split-section .image,.split-section .content {
  position:absolute;
  z-index:1;
  width:50%;
  height:100%;
  top:0
}
.split-section .image {
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  overflow:hidden
}
.split-section .content {
  background-color:#f2f2f2
}
.split-section .content.dark-bg {
  background-color:#4c4c4c
}
.split-section .content.primary-bg {
  background-color:#abbdd1
}
.split-section.img-left .image {
  left:0
}
.split-section.img-left .content {
  right:0
}
.split-section.img-right .image {
  right:0
}
.split-section.img-right .content {
  left:0
}
.split-section .btn {
  margin-bottom:20px
}
@media screen and (max-width: 991px) {
  .split-section .image,.split-section .content {
    position:relative;
    width:100%;
    height:auto
  }
  .split-section .image {
    height:400px
  }
}
@media screen and (max-width: 768px) {
  .split-section .image {
    height:320px
  }
}
@media screen and (max-width: 480px) {
  .split-section .image {
    height:250px
  }
}
.fw-section {
  position:relative;
  display:block;
  width:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  overflow:hidden
}
.fw-section .container {
  position:relative;
  z-index:5
}
.fw-section .overlay {
  position:absolute;
  z-index:2;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:#333;
  opacity:0.75
}
.fw-section.parallax-bg {
  background-attachment:fixed
}
@media screen and (max-width: 991px) {
  .fw-section.parallax-bg {
    background-attachment:scroll
  }
}
.fw-section.gray-bg {
  background-color:#f2f2f2
}
.fw-section.dark-bg {
  background-color:#4c4c4c
}
.fw-section.primary-bg {
  background-color:#abbdd1
}
.market-buttons:before,.market-buttons:after {
  content:" ";
  display:table
}
.market-buttons:after {
  clear:both
}
.market-buttons.count-2 .market-btn {
  float:left;
  width:50%
}
@media screen and (max-width: 480px) {
  .market-buttons.count-2 .market-btn {
    float:none;
    width:100%
  }
}
.market-buttons.count-3 .market-btn {
  float:left;
  width:33.33333%
}
@media screen and (max-width: 768px) {
  .market-buttons.count-3 .market-btn {
    float:none;
    width:100%
  }
}
.awards {
  width:100%
}
.awards:before,.awards:after {
  content:" ";
  display:table
}
.awards:after {
  clear:both
}
.awards .award {
  display:block;
  width:100%;
  text-align:center;
  font-size:16px;
  color:#fff;
  text-decoration:none;
  line-height:2;
  background-color:#abbdd1;
  padding:48px 15px;
  -webkit-transition:color 0.4s 0.1s,background-color 0.4s 0.1s;
  -o-transition:color 0.4s 0.1s,background-color 0.4s 0.1s;
  transition:color 0.4s 0.1s,background-color 0.4s 0.1s
}
.awards .award .inner {
  font-weight:normal;
  max-width:200px;
  margin:0 auto
}
.awards .award .award-title {
  position:relative;
  color:#fff;
  padding:0 46px;
  -webkit-transition:color 0.4s 0.1s;
  -o-transition:color 0.4s 0.1s;
  transition:color 0.4s 0.1s
}
.awards .award .award-title span {
  position:absolute;
  display:block;
  width:20px;
  height:41px;
  -webkit-transition:opacity 0.3s 0.1s;
  -o-transition:opacity 0.3s 0.1s;
  transition:opacity 0.3s 0.1s
}
.awards .award .award-title span.palm-left-light,.awards .award .award-title span.palm-left-dark {
  top:-4px;
  left:0
}
.awards .award .award-title span.palm-left-light {
  opacity:1;
  background:url(../img/awards/palm-left-light.svg) no-repeat 0 0
}
.awards .award .award-title span.palm-left-dark {
  opacity:0;
  background:url(../img/awards/palm-left-dark.svg) no-repeat 0 0
}
.awards .award .award-title span.palm-right-light,.awards .award .award-title span.palm-right-dark {
  top:-4px;
  right:0
}
.awards .award .award-title span.palm-right-light {
  opacity:1;
  background:url(../img/awards/palm-right-light.svg) no-repeat 0 0
}
.awards .award .award-title span.palm-right-dark {
  opacity:0;
  background:url(../img/awards/palm-right-dark.svg) no-repeat 0 0
}
.awards .award .date {
  font-weight:700
}
.awards .award:hover {
  color:#4c4c4c;
  background-color:#fff
}
.awards .award:hover .award-title {
  color:#4c4c4c
}
.awards .award:hover .award-title span.palm-left-light,.awards .award:hover .award-title span.palm-right-light {
  opacity:0
}
.awards .award:hover .award-title span.palm-left-dark,.awards .award:hover .award-title span.palm-right-dark {
  opacity:1
}
.awards.count-2 .award {
  float:left;
  width:50%
}
@media screen and (max-width: 480px) {
  .awards.count-2 .award {
    float:none;
    width:100%
  }
}
.awards.count-3 .award {
  float:left;
  width:33.33333%
}
@media screen and (max-width: 768px) {
  .awards.count-3 .award {
    float:none;
    width:100%
  }
}
.no-svg .awards .award .award-title span.palm-left-light {
  background:url(../img/awards/palm-left-light.png) no-repeat 0 0
}
.no-svg .awards .award .award-title span.palm-left-dark {
  background:url(../img/awards/palm-left-dark.png) no-repeat 0 0
}
.no-svg .awards .award .award-title span.palm-right-light {
  background:url(../img/awards/palm-right-light.png) no-repeat 0 0
}
.no-svg .awards .award .award-title span.palm-right-dark {
  background:url(../img/awards/palm-right-dark.png) no-repeat 0 0
}
.pricing-plan {
  display:block;
  width:100%;
  max-width:400px;
  text-align:center;
  background-color:#f2f2f2;
  border-radius:12px;
  margin:0 auto 30px auto
}
.pricing-plan .pp-header {
  padding-bottom:16px
}
.pricing-plan .pp-header .pp-title {
  padding:67px 25px 24px 25px
}
.pricing-plan .pp-header h3 {
  margin-bottom:0
}
.pricing-plan .pp-body {
  padding:15px 25px 36px 20px
}
.pricing-plan .pp-body p {
  font-weight:300
}
.pricing-plan .pp-body .pp-price {
  font-size:72px;
  color:#4c4c4c;
  font-weight:600;
  line-height:1;
  padding:17px 0 28px 0;
  margin-left:-15px
}
.pricing-plan .pp-body .pp-price span {
  display:inline-block;
  vertical-align:top;
  font-size:36px;
  padding-top:10px;
  margin-right:5px
}
.pricing-plan .badge {
  display:block;
  position:absolute;
  color:#fff;
  font-size:14px;
  padding:0 11px;
  line-height:36px;
  top:18px;
  left:50%;
  border-radius:18px;
  white-space:nowrap;
  background-color:#4c4c4c;
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  transform:translateX(-50%)
}
.pricing-plan .badge.badge-default {
  background-color:#4c4c4c
}
.pricing-plan .badge.badge-primary {
  background-color:#abbdd1
}
.pricing-plan .badge.badge-info {
  background-color:#626d83
}
.pricing-plan .badge.badge-success {
  background-color:#44c456
}
.pricing-plan .badge.badge-warning {
  background-color:#c2c444
}
.pricing-plan .badge.badge-danger {
  background-color:#db6e79
}
.pricing-plan.featured-plan .pp-header .pp-title {
  background-color:#abbdd1;
  border-radius:12px 12px 0 0
}
.pricing-plan.featured-plan .pp-header h3 {
  color:#fff
}
.video-popup-btn {
  display:inline-block;
  text-decoration:none;
  margin:10px 0
}
.video-popup-btn:focus {
  outline:none
}
.video-popup-btn .play-btn,.video-popup-btn .label {
  display:inline-block;
  vertical-align:middle
}
.video-popup-btn .play-btn {
  width:70px;
  color:#333;
  border:2px solid #333;
  border-radius:50%;
  text-align:center;
  padding-left:5px;
  -webkit-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out
}
.video-popup-btn .play-btn i {
  line-height:66px;
  font-size:22px
}
.video-popup-btn .label {
  font-size:13px;
  color:#999;
  font-weight:normal;
  text-align:left;
  padding-left:7px
}
.video-popup-btn.light-skin .play-btn {
  color:#fff;
  border-color:#fff
}
.video-popup-btn.light-skin .label {
  color:#fff
}
.video-popup-btn:hover .play-btn {
  color:#abbdd1;
  border-color:#abbdd1
}
.featured-tabs .nav-tabs {
  display:block;
  border-bottom:none;
  padding-left:25px
}
.featured-tabs .nav-tabs>li {
  position:relative;
  display:block;
  width:100%;
  margin-bottom:0;
  padding-left:50px;
  border-left:1px solid #abbdd1;
  padding-bottom:36px
}
.featured-tabs .nav-tabs>li>a {
  display:table;
  font-size:18px;
  color:#4c4c4c;
  border:none;
  padding:0;
  margin-bottom:24px
}
.featured-tabs .nav-tabs>li>a:hover {
  color:#abbdd1;
  background-color:transparent
}
.featured-tabs .nav-tabs>li.active>a,.featured-tabs .nav-tabs>li.active>a:hover,.featured-tabs .nav-tabs>li.active>a:focus {
  color:#4c4c4c;
  background-color:transparent;
  border:none
}
.featured-tabs .nav-tabs>li>.number {
  position:absolute;
  display:block;
  width:70px;
  height:70px;
  background-color:#fff;
  border-radius:50%;
  top:-18px;
  left:-35px
}
.featured-tabs .nav-tabs>li>.number>i {
  position:absolute;
  display:block;
  width:50px;
  height:50px;
  color:#abbdd1;
  font-size:24px;
  font-weight:900;
  font-style:normal;
  text-align:center;
  background-color:transparent;
  border:2px solid #abbdd1;
  border-radius:50%;
  top:10px;
  left:10px;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  transition:all 0.3s
}
.featured-tabs .nav-tabs>li.active>.number>i {
  color:#fff;
  background-color:#abbdd1
}
.featured-tabs .nav-tabs>li:last-child {
  border-left:none
}
.featured-tabs .nav-tabs>li p {
  font-size:14px;
  margin-bottom:0
}
.featured-tabs .nav-tabs>li .social-btns {
  margin-top:12px
}
.featured-tabs .nav-tabs>li .social-btns a {
  display:inline-block;
  font-size:16px;
  color:#999;
  text-decoration:none;
  margin-right:12px;
  border:none;
  cursor:pointer
}
.featured-tabs .nav-tabs>li .social-btns a:hover {
  color:#bbcada;
  background:none
}
@media screen and (max-width: 480px) {
  .featured-tabs .nav-tabs>li {
    border-left:none;
    padding-bottom:24px
  }
  .featured-tabs .nav-tabs>li>a {
    font-size:18px;
    margin-bottom:12px
  }
  .featured-tabs .nav-tabs>li>.number {
    top:-20px
  }
  .featured-tabs .nav-tabs>li p {
    display:none
  }
}
.featured-tabs .tab-content {
  padding:0
}
.team-grid:before,.team-grid:after {
  content:" ";
  display:table
}
.team-grid:after {
  clear:both
}
.team-grid .team-member {
  cursor:default;
  float:left;
  width:25%;
  border-right:2px solid transparent;
  border-bottom:2px solid transparent
}
.team-grid .team-member .inner {
  position:relative;
  width:100%;
  height:265px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  overflow:hidden;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  -ms-transform:translate3d(0, 0, 0);
  -o-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0)
}
.team-grid .team-member .inner:before {
  position:absolute;
  display:block;
  content:"";
  z-index:1;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:#abbdd1;
  opacity:0;
  -webkit-transform:translateY(100%);
  -moz-transform:translateY(100%);
  -ms-transform:translateY(100%);
  -o-transform:translateY(100%);
  transform:translateY(100%);
  -webkit-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s
}
.team-grid .team-member .info-block {
  display:block;
  position:absolute;
  z-index:2;
  width:100%;
  left:0;
  bottom:0;
  padding:24px;
  opacity:0;
  -webkit-transform:translateY(15px);
  -moz-transform:translateY(15px);
  -ms-transform:translateY(15px);
  -o-transform:translateY(15px);
  transform:translateY(15px);
  -webkit-transition:all 0.35s 0.17s;
  -o-transition:all 0.35s 0.17s;
  transition:all 0.35s 0.17s
}
.team-grid .team-member .info-block h3 {
  font-size:18px;
  color:#fff;
  margin-bottom:5px
}
.team-grid .team-member .info-block h4 {
  font-size:14px;
  color:#fff;
  font-weight:300;
  margin-bottom:24px
}
.team-grid .team-member .info-block .social-bar a {
  height:30px;
  width:30px;
  min-width:auto;
  font-size:14px;
  line-height:26px
}
.team-grid .team-member:hover .inner:before {
  opacity:0.9;
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);
  -ms-transform:translateY(0);
  -o-transform:translateY(0);
  transform:translateY(0)
}
.team-grid .team-member:hover .info-block {
  opacity:1;
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);
  -ms-transform:translateY(0);
  -o-transform:translateY(0);
  transform:translateY(0)
}
@media screen and (max-width: 1200px) {
  .team-grid .team-member .inner {
    height:250px
  }
}
@media screen and (max-width: 991px) {
  .team-grid .team-member .inner {
    height:210px
  }
}
@media screen and (max-width: 768px) {
  .team-grid .team-member {
    width:50%
  }
  .team-grid .team-member .inner {
    height:250px
  }
}
@media screen and (max-width: 480px) {
  .team-grid .team-member {
    width:100%;
    border-right:none
  }
}
.ios .team-grid .team-member {
  cursor:pointer
}
.client {
  display:block;
  border:none;
  opacity:1;
  -webkit-transition:opacity 0.35s ease-in-out;
  -o-transition:opacity 0.35s ease-in-out;
  transition:opacity 0.35s ease-in-out
}
.client:hover {
  opacity:.6
}
.instagram-feed {
  display:block;
  width:100%
}
.instagram-feed:before,.instagram-feed:after {
  content:" ";
  display:table
}
.instagram-feed:after {
  clear:both
}
.instagram-feed .item {
  position:relative;
  display:block;
  float:left;
  width:12.5%
}
.instagram-feed .item:before {
  position:absolute;
  display:block;
  content:"";
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-color:#abbdd1;
  opacity:0;
  -webkit-transition:opacity 0.35s;
  -o-transition:opacity 0.35s;
  transition:opacity 0.35s
}
.instagram-feed .item:hover:before {
  opacity:0.7
}
@media screen and (max-width: 768px) {
  .instagram-feed .item {
    width:25%
  }
}
.sidebar,.wpb_widgetised_column {
  width:100%;
  max-width:370px !important
}
.widget-title {
  font-size:14px;
  color:#999;
  font-weight:600;
  text-transform:uppercase;
  font-style:normal;
  margin-bottom:21px
}
.widget {
  margin-bottom:43px;
  word-wrap:break-word;
  overflow-wrap:break-word
}
.widget_archive ul,.widget_categories ul,.widget_pages ul,.widget_recent_comments ul {
  list-style:none
}
.widget_archive>ul,.widget_categories>ul,.widget_pages>ul,.widget_recent_comments>ul {
  font-size:14px;
  list-style:none;
  padding:0;
  margin:0
}
.widget_archive>ul li,.widget_categories>ul li,.widget_pages>ul li,.widget_recent_comments>ul li {
  margin-bottom:8px
}
.widget_archive>ul li a,.widget_categories>ul li a,.widget_pages>ul li a,.widget_recent_comments>ul li a {
  font-weight:bold;
  padding:0;
  line-height:1.6;
  letter-spacing:0
}
.widget_archive>ul li.active a,.widget_archive>ul li.current-cat a,.widget_categories>ul li.active a,.widget_categories>ul li.current-cat a,.widget_pages>ul li.active a,.widget_pages>ul li.current-cat a,.widget_recent_comments>ul li.active a,.widget_recent_comments>ul li.current-cat a {
  color:#bbcada;
  text-decoration:none
}
.widget_archive>ul li:last-child,.widget_categories>ul li:last-child,.widget_pages>ul li:last-child,.widget_recent_comments>ul li:last-child {
  margin-bottom:0
}
.widget_categories .cat-item {
  display:table;
  width:100%;
  background-color:transparent;
  cursor:pointer;
  border-radius:24px;
  -webkit-transition:background-color 0.3s;
  -o-transition:background-color 0.3s;
  transition:background-color 0.3s
}
.widget_categories .cat-item a,.widget_categories .cat-item span {
  font-size:16px;
  display:table-cell;
  vertical-align:middle;
  font-weight:normal;
  padding:4px 0 4px 22px
}
.widget_categories .cat-item span {
  text-align:right;
  color:#9bb0c8;
  font-weight:600;
  padding:3px 22px 3px 10px
}
.widget_categories .cat-item:hover {
  background-color:#f2f2f2
}
.widget_categories .cat-item:hover a {
  color:#9bb0c8
}
.widget_categories .cat-item.active {
  background-color:#abbdd1
}
.widget_categories .cat-item.active a,.widget_categories .cat-item.active span {
  color:#fff
}
.widget_search .search-box {
  position:relative;
  display:block;
  width:100%
}
.widget_search .search-box .form-control {
  padding-right:45px;
  margin-bottom:0
}
.widget_search .search-box .search-btn {
  position:absolute;
  height:45px;
  width:40px;
  top:0;
  right:6px;
  background:none;
  border:none;
  color:#db6e79;
  opacity:1;
  -webkit-transition:opacity 0.3s;
  -o-transition:opacity 0.3s;
  transition:opacity 0.3s
}
.widget_search .search-box .search-btn:hover {
  opacity:.65
}
.widget_search .search-box .search-btn:focus {
  outline:none
}
.widget_recent_posts .post-item {
  display:table;
  width:100%;
  margin-bottom:24px;
  background-color:transparent;
  border-radius:0
}
.widget_recent_posts .post-item:last-child {
  margin-bottom:0
}
.widget_recent_posts .post-item .thumb,.widget_recent_posts .post-item .info {
  display:table-cell;
  vertical-align:top
}
.widget_recent_posts .post-item .thumb {
  width:100px
}
.widget_recent_posts .post-item .thumb a {
  display:block
}
.widget_recent_posts .post-item .thumb img {
  width:100%
}
@media screen and (max-width: 360px) {
  .widget_recent_posts .post-item .thumb {
    width:85px
  }
}
.widget_recent_posts .post-item .info {
  padding-left:20px
}
.widget_recent_posts .post-item .info h4 {
  font-size:14px;
  margin-bottom:14px
}
.widget_recent_posts .post-item .info h4 a {
  text-decoration:none
}
.widget_recent_posts .post-item .info .post-meta {
  font-size:13px;
  color:#999;
  font-style:italic;
  line-height:1.6;
  padding:0
}
.widget_recent_posts .post-item .info .post-meta a {
  font-size:13px;
  color:#999;
  font-weight:600;
  font-style:normal;
  letter-spacing:0
}
.widget_recent_comments ul li a,.widget_recent_comments ul li span {
  font-size:14px;
  display:inline-block;
  vertical-align:middle
}
.widget_recent_comments ul li span {
  color:#999
}
.widget_recent_comments ul li a {
  margin-right:12px
}
.widget_tags .tag,.post-tags .tag {
  position:relative;
  display:inline-block;
  font-size:14px;
  color:#4c4c4c;
  text-decoration:none;
  font-weight:normal;
  border-radius:12px;
  padding:3px 14px 3px 30px;
  word-wrap:no-wrap;
  overflow-wrap:no-wrap;
  background-color:#f2f6fc;
  margin:5px 7px 10px 0;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  transition:all 0.3s
}
.widget_tags .tag:before,.post-tags .tag:before {
  position:absolute;
  display:block;
  content:"";
  width:8px;
  height:8px;
  border-radius:50%;
  background-color:#abbdd1;
  top:50%;
  left:14px;
  margin-top:-4px;
  -webkit-transition:background-color 0.3s;
  -o-transition:background-color 0.3s;
  transition:background-color 0.3s
}
.widget_tags .tag:last-child,.post-tags .tag:last-child {
  margin-right:0
}
.widget_tags .tag:hover,.widget_tags .tag.active,.post-tags .tag:hover,.post-tags .tag.active {
  color:#fff;
  background-color:#abbdd1
}
.widget_tags .tag:hover:before,.widget_tags .tag.active:before,.post-tags .tag:hover:before,.post-tags .tag.active:before {
  background-color:#fff
}
.grid {
  position:relative
}
.grid .gutter-sizer {
  width:2.5%
}
@media screen and (max-width: 768px) {
  .grid .gutter-sizer {
    width:4%
  }
}
.grid .grid-item {
  position:relative;
  float:left;
  margin-bottom:2.8%;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden
}
@media screen and (max-width: 768px) {
  .grid .grid-item {
    margin-bottom:4%
  }
}
.grid.isotope-grid {
  overflow:hidden
}
.grid.isotope-grid:before,.grid.isotope-grid:after {
  content:" ";
  display:table
}
.grid.isotope-grid:after {
  clear:both
}
.grid.isotope-grid.col-1 .grid-sizer,.grid.isotope-grid.col-1 .grid-item {
  float:none;
  width:100%;
  margin-bottom:30px
}
.grid.isotope-grid.col-2 .grid-sizer,.grid.isotope-grid.col-2 .grid-item {
  width:48.75%
}
@media screen and (max-width: 768px) {
  .grid.isotope-grid.col-2 .grid-sizer,.grid.isotope-grid.col-2 .grid-item {
    width:48%
  }
}
@media screen and (max-width: 600px) {
  .grid.isotope-grid.col-2 .grid-sizer,.grid.isotope-grid.col-2 .grid-item {
    float:none;
    width:100%;
    margin-bottom:30px
  }
}
.grid.isotope-grid.col-3 .grid-sizer,.grid.isotope-grid.col-3 .grid-item {
  width:31.66667%
}
@media screen and (max-width: 991px) {
  .grid.isotope-grid.col-3 .grid-sizer,.grid.isotope-grid.col-3 .grid-item {
    width:48.75%
  }
}
@media screen and (max-width: 768px) {
  .grid.isotope-grid.col-3 .grid-sizer,.grid.isotope-grid.col-3 .grid-item {
    width:48%
  }
}
@media screen and (max-width: 600px) {
  .grid.isotope-grid.col-3 .grid-sizer,.grid.isotope-grid.col-3 .grid-item {
    float:none;
    width:100%;
    margin-bottom:30px
  }
}
.grid.isotope-grid.col-4 .grid-sizer,.grid.isotope-grid.col-4 .grid-item {
  width:23.125%
}
@media screen and (max-width: 991px) {
  .grid.isotope-grid.col-4 .grid-sizer,.grid.isotope-grid.col-4 .grid-item {
    width:48.75%
  }
}
@media screen and (max-width: 768px) {
  .grid.isotope-grid.col-4 .grid-sizer,.grid.isotope-grid.col-4 .grid-item {
    width:48%
  }
}
@media screen and (max-width: 600px) {
  .grid.isotope-grid.col-4 .grid-sizer,.grid.isotope-grid.col-4 .grid-item {
    float:none;
    width:100%;
    margin-bottom:30px
  }
}
.grid.isotope-masonry-grid {
  overflow:hidden
}
.grid.isotope-masonry-grid:before,.grid.isotope-masonry-grid:after {
  content:" ";
  display:table
}
.grid.isotope-masonry-grid:after {
  clear:both
}
.grid.isotope-masonry-grid .gutter-sizer {
  width:1.8%
}
.grid.isotope-masonry-grid .grid-sizer,.grid.isotope-masonry-grid .grid-item {
  width:32.13333%;
  height:380px;
  margin-bottom:33px
}
.grid.isotope-masonry-grid .grid-sizer.h2,.grid.isotope-masonry-grid .grid-item.h2 {
  height:793px
}
.grid.isotope-masonry-grid .grid-sizer.w2,.grid.isotope-masonry-grid .grid-item.w2 {
  width:66%
}
.container .grid.isotope-masonry-grid .gutter-sizer {
  width:2.4%
}
.container .grid.isotope-masonry-grid .grid-sizer,.container .grid.isotope-masonry-grid .grid-item {
  width:31.73333%;
  height:300px;
  margin-bottom:33px
}
.container .grid.isotope-masonry-grid .grid-sizer.h2,.container .grid.isotope-masonry-grid .grid-item.h2 {
  height:633px
}
.container .grid.isotope-masonry-grid .grid-sizer.w2,.container .grid.isotope-masonry-grid .grid-item.w2 {
  width:66%
}
@media screen and (max-width: 1700px) {
  .grid.isotope-masonry-grid .grid-item,.container .grid.isotope-masonry-grid .grid-item {
    margin-bottom:30px
  }
}
@media screen and (max-width: 1480px) {
  .grid.isotope-masonry-grid .grid-sizer,.grid.isotope-masonry-grid .grid-item,.container .grid.isotope-masonry-grid .grid-sizer,.container .grid.isotope-masonry-grid .grid-item {
    width:31.86667%
  }
  .grid.isotope-masonry-grid .gutter-sizer,.container .grid.isotope-masonry-grid .gutter-sizer {
    width:2.2%
  }
}
@media screen and (max-width: 1200px) {
  .grid.isotope-masonry-grid .gutter-sizer {
    width:2.6%
  }
  .grid.isotope-masonry-grid .grid-sizer,.grid.isotope-masonry-grid .grid-item {
    width:31.6%;
    height:270px
  }
  .grid.isotope-masonry-grid .grid-sizer.h2,.grid.isotope-masonry-grid .grid-item.h2 {
    height:570px
  }
  .container .grid.isotope-masonry-grid .grid-item {
    margin-bottom:24px
  }
}
@media screen and (max-width: 991px) {
  .grid.isotope-masonry-grid .gutter-sizer,.container .grid.isotope-masonry-grid .gutter-sizer {
    width:3.5%
  }
  .grid.isotope-masonry-grid .grid-sizer,.grid.isotope-masonry-grid .grid-item,.container .grid.isotope-masonry-grid .grid-sizer,.container .grid.isotope-masonry-grid .grid-item {
    width:48.25%;
    margin-bottom:24px;
    height:260px
  }
  .grid.isotope-masonry-grid .grid-sizer.h2,.grid.isotope-masonry-grid .grid-item.h2,.container .grid.isotope-masonry-grid .grid-sizer.h2,.container .grid.isotope-masonry-grid .grid-item.h2 {
    height:544px
  }
  .grid.isotope-masonry-grid .grid-sizer.w2,.grid.isotope-masonry-grid .grid-item.w2,.container .grid.isotope-masonry-grid .grid-sizer.w2,.container .grid.isotope-masonry-grid .grid-item.w2 {
    width:100%
  }
}
@media screen and (max-width: 600px) {
  .grid.isotope-masonry-grid .gutter-sizer,.container .grid.isotope-masonry-grid .gutter-sizer {
    width:0
  }
  .grid.isotope-masonry-grid .grid-sizer,.grid.isotope-masonry-grid .grid-item,.container .grid.isotope-masonry-grid .grid-sizer,.container .grid.isotope-masonry-grid .grid-item {
    width:100%
  }
}
@media screen and (max-width: 480px) {
  .grid.isotope-masonry-grid .grid-item,.container .grid.isotope-masonry-grid .grid-item {
    height:230px
  }
  .grid.isotope-masonry-grid .grid-item.h2,.container .grid.isotope-masonry-grid .grid-item.h2 {
    height:460px
  }
}
.grid.isotope-grid .grid-item .tile {
  position:relative
}
.tile {
  position:absolute;
  display:block;
  width:100%;
  height:100%;
  overflow:hidden;
  text-decoration:none;
  word-wrap:break-word;
  overflow-wrap:break-word;
  cursor:pointer;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover
}
.tile:focus {
  outline:none
}
.tile:before {
  position:absolute;
  z-index:1;
  content:"";
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:#333;
  opacity:0;
  -webkit-transition:opacity 0.3s ease-in-out;
  -o-transition:opacity 0.3s ease-in-out;
  transition:opacity 0.3s ease-in-out
}
.tile .tile-content {
  position:absolute;
  z-index:2;
  width:100%;
  left:0;
  bottom:0;
  text-align:center;
  padding:40px 15px 40px 15px;
  background-color:#abbdd1;
  opacity:0;
  -webkit-transform:translateY(200%);
  -moz-transform:translateY(200%);
  -ms-transform:translateY(200%);
  -o-transform:translateY(200%);
  transform:translateY(200%);
  -webkit-transition:all 0.35s;
  -o-transition:all 0.35s;
  transition:all 0.35s
}
.tile .tile-content h3 {
  position:relative;
  z-index:2;
  color:#fff;
  font-weight:600;
  text-transform:uppercase;
  margin-bottom:0;
  font-size:18px;
  opacity:0;
  -webkit-transform:translateY(15px);
  -moz-transform:translateY(15px);
  -ms-transform:translateY(15px);
  -o-transform:translateY(15px);
  transform:translateY(15px);
  -webkit-transition:all 0.3s 0.17s;
  -o-transition:all 0.3s 0.17s;
  transition:all 0.3s 0.17s
}
.tile:hover:before {
  opacity:0.6
}
.tile:hover .tile-content {
  opacity:1;
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);
  -ms-transform:translateY(0);
  -o-transform:translateY(0);
  transform:translateY(0)
}
.tile:hover .tile-content h3 {
  opacity:1;
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);
  -ms-transform:translateY(0);
  -o-transform:translateY(0);
  transform:translateY(0)
}
.tile.gallery-item .tile-content h3 i {
  font-size:24px
}
.container-fluid .grid-item.w2 .tile .tile-content:before {
  margin-left:-700px;
  border-left:700px solid transparent;
  border-right:700px solid transparent
}
.tooltip {
  position:absolute;
  z-index:1070;
  display:block;
  white-space:nowrap;
  font-size:12px;
  -webkit-transition:opacity 0.2s;
  -o-transition:opacity 0.2s;
  transition:opacity 0.2s;
  opacity:0;
  filter:alpha(opacity=0)
}
.tooltip.in {
  opacity:1;
  filter:alpha(opacity=100)
}
.tooltip.top {
  margin-top:-3px;
  padding:5px 0
}
.tooltip.right {
  margin-left:3px;
  padding:0 5px
}
.tooltip.bottom {
  margin-top:3px;
  padding:5px 0
}
.tooltip.left {
  margin-left:-3px;
  padding:0 5px
}
.tooltip-inner {
  max-width:200px;
  padding:3px 10px;
  color:#fff;
  text-align:center;
  background-color:#333;
  border-radius:12px
}
.tooltip-arrow {
  position:absolute;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid
}
.tooltip.top .tooltip-arrow {
  bottom:0;
  left:50%;
  margin-left:-5px;
  border-width:5px 5px 0;
  border-top-color:#333
}
.tooltip.top-left .tooltip-arrow {
  bottom:0;
  right:5px;
  margin-bottom:-5px;
  border-width:5px 5px 0;
  border-top-color:#333
}
.tooltip.top-right .tooltip-arrow {
  bottom:0;
  left:5px;
  margin-bottom:-5px;
  border-width:5px 5px 0;
  border-top-color:#333
}
.tooltip.right .tooltip-arrow {
  top:50%;
  left:0;
  margin-top:-5px;
  border-width:5px 5px 5px 0;
  border-right-color:#333
}
.tooltip.left .tooltip-arrow {
  top:50%;
  right:0;
  margin-top:-5px;
  border-width:5px 0 5px 5px;
  border-left-color:#333
}
.tooltip.bottom .tooltip-arrow {
  top:0;
  left:50%;
  margin-left:-5px;
  border-width:0 5px 5px;
  border-bottom-color:#333
}
.tooltip.bottom-left .tooltip-arrow {
  top:0;
  right:5px;
  margin-top:-5px;
  border-width:0 5px 5px;
  border-bottom-color:#333
}
.tooltip.bottom-right .tooltip-arrow {
  top:0;
  left:5px;
  margin-top:-5px;
  border-width:0 5px 5px;
  border-bottom-color:#333
}
.nav-filters,.nav-tabs {
  display:block;
  width:100%;
  list-style:none;
  padding:0;
  border-bottom:1px solid #e5e5e5
}
.nav-filters li,.nav-tabs li {
  display:inline-block;
  margin-bottom:-1px
}
.nav-filters li a,.nav-tabs li a {
  display:block;
  font-size:14px;
  color:#9bb0c8;
  font-weight:bold;
  text-transform:uppercase;
  text-decoration:none;
  padding:9px 0;
  border-bottom:3px solid transparent;
  white-space:nowrap;
  margin-right:24px;
  -webkit-transition:color 0.3s,border-color 0.3s;
  -o-transition:color 0.3s,border-color 0.3s;
  transition:color 0.3s,border-color 0.3s
}
.nav-filters li a:hover,.nav-tabs li a:hover {
  color:#bbcada;
  border-bottom-color:#e5e5e5
}
.nav-filters li.active a,.nav-tabs li.active a {
  color:#9bb0c8;
  border-bottom-color:#9bb0c8;
  cursor:default
}
.nav-filters li.active a:hover,.nav-tabs li.active a:hover {
  color:#9bb0c8
}
.nav-filters.text-center li a,.nav-tabs.text-center li a {
  margin-left:12px;
  margin-right:12px
}
.nav-filters.text-right li a,.nav-tabs.text-right li a {
  margin-left:24px;
  margin-right:0
}
.tab-content {
  padding-top:24px
}
.tab-content>.tab-pane {
  display:none
}
.tab-content>.active {
  display:block
}
.transition.fade {
  opacity:0;
  -webkit-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden
}
.transition.fade.in {
  opacity:1
}
.transition.scale.fade {
  -webkit-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -ms-transform:scale(0.9);
  -o-transform:scale(0.9);
  transform:scale(0.9)
}
.transition.scaledown.fade {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1)
}
.transition.scale.fade.in,.transition.scaledown.fade.in {
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1)
}
.transition.left.fade {
  -webkit-transform:translateX(40px);
  -moz-transform:translateX(40px);
  -ms-transform:translateX(40px);
  -o-transform:translateX(40px);
  transform:translateX(40px)
}
.transition.right.fade {
  -webkit-transform:translateX(-40px);
  -moz-transform:translateX(-40px);
  -ms-transform:translateX(-40px);
  -o-transform:translateX(-40px);
  transform:translateX(-40px)
}
.transition.left.fade.in,.transition.right.fade.in {
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  -ms-transform:translateX(0px);
  -o-transform:translateX(0px);
  transform:translateX(0px)
}
.transition.top.fade {
  -webkit-transform:translateY(-40px);
  -moz-transform:translateY(-40px);
  -ms-transform:translateY(-40px);
  -o-transform:translateY(-40px);
  transform:translateY(-40px)
}
.transition.bottom.fade {
  -webkit-transform:translateY(40px);
  -moz-transform:translateY(40px);
  -ms-transform:translateY(40px);
  -o-transform:translateY(40px);
  transform:translateY(40px)
}
.transition.top.fade.in,.transition.bottom.fade.in {
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  -ms-transform:translateY(0px);
  -o-transform:translateY(0px);
  transform:translateY(0px)
}
.transition.flip.fade {
  -webkit-transform:rotateY(-90deg) scale(1.1);
  -moz-transform:rotateY(-90deg) scale(1.1);
  -ms-transform:rotateY(-90deg) scale(1.1);
  -o-transform:rotateY(-90deg) scale(1.1);
  transform:rotateY(-90deg) scale(1.1);
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  transform-origin:50% 50%
}
.transition.flip.fade.in {
  -webkit-transform:rotateY(0deg) scale(1);
  -moz-transform:rotateY(0deg) scale(1);
  -ms-transform:rotateY(0deg) scale(1);
  -o-transform:rotateY(0deg) scale(1);
  transform:rotateY(0deg) scale(1);
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  transform-origin:50% 50%
}
.panel {
  margin-bottom:24px;
  background-color:transparent;
  border:none;
  border-radius:24px;
  border-color:#ddd
}
.panel>.panel-heading {
  color:#333;
  background-color:transparent;
  border-color:#ddd
}
.panel>.panel-heading+.panel-collapse>.panel-body {
  border-top-color:#ddd
}
.panel>.panel-heading .badge {
  color:transparent;
  background-color:#333
}
.panel>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color:#ddd
}
.panel-body {
  padding:20px 22px
}
.panel-body:before,.panel-body:after {
  content:" ";
  display:table
}
.panel-body:after {
  clear:both
}
.panel-heading {
  border-top-right-radius:23px;
  border-top-left-radius:23px
}
.panel-heading .panel-title {
  display:block;
  font-size:16px;
  font-weight:normal;
  margin:0;
  border-radius:24px;
  background-color:#f2f2f2
}
.panel-heading .panel-title:not(a) {
  padding:14px 22px
}
.panel-heading>a {
  font-weight:normal;
  padding:12px 22px;
  text-decoration:none;
  -webkit-transition:color 0.3s,background-color 0.3s;
  -o-transition:color 0.3s,background-color 0.3s;
  transition:color 0.3s,background-color 0.3s
}
.panel-heading>a:hover {
  color:#9bb0c8
}
.panel-group .panel {
  margin-bottom:0;
  border-radius:24px
}
.panel-group .panel+.panel {
  margin-top:10px
}
.panel-group .panel-heading {
  border-bottom:0
}
.panel-group .panel-heading .panel-title {
  position:relative;
  color:#fff;
  background-color:#abbdd1;
  padding-right:45px
}
.panel-group .panel-heading .panel-title:before {
  display:block;
  position:absolute;
  content:"";
  width:13px;
  height:2px;
  top:50%;
  right:22px;
  margin-top:-1px;
  background-color:#fff
}
.panel-group .panel-heading .panel-title.collapsed {
  color:#9bb0c8;
  background-color:transparent
}
.panel-group .panel-heading .panel-title.collapsed:before {
  content:"+";
  font-size:25px;
  line-height:1;
  font-weight:normal;
  margin-top:-12px;
  background-color:transparent
}
.panel-group .panel-heading .panel-title.collapsed:hover {
  color:#9bb0c8;
  background-color:#f2f2f2
}
.collapse {
  display:none
}
.collapse.in {
  display:block
}
.collapsing {
  position:relative;
  height:0;
  overflow:hidden;
  -webkit-transition:height 0.35s ease,visibility 0.35s ease;
  -o-transition:height 0.35s ease,visibility 0.35s ease;
  transition:height 0.35s ease,visibility 0.35s ease
}
.owl-height {
  -webkit-transition:height 400ms;
  -o-transition:height 400ms;
  transition:height 400ms
}
.owl-carousel {
  display:none;
  width:100%;
  -webkit-tap-highlight-color:transparent;
  position:relative;
  z-index:1
}
.owl-carousel .owl-stage {
  position:relative;
  -ms-touch-action:pan-Y
}
.owl-carousel .owl-stage:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0
}
.owl-carousel .owl-stage-outer {
  position:relative;
  overflow:hidden;
  -webkit-transform:translate3d(0px, 0px, 0px)
}
.owl-carousel .owl-controls {
  text-align:center
}
.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-dot {
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next {
  position:absolute;
  display:block;
  top:50%;
  margin-top:-21px;
  width:42px;
  height:42px;
  background-color:#abbdd1;
  line-height:42px;
  text-align:center;
  font-size:18px;
  color:#fff;
  border-radius:50%;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transition:background-color 0.3s ease-out;
  -o-transition:background-color 0.3s ease-out;
  transition:background-color 0.3s ease-out
}
.owl-carousel .owl-controls .owl-nav .owl-prev:before,.owl-carousel .owl-controls .owl-nav .owl-next:before {
  font-family:FontAwesome
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  background-color:#ccd7e3
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
  left:15px;
  padding-right:3px
}
.owl-carousel .owl-controls .owl-nav .owl-next {
  right:15px;
  padding-left:3px
}
.owl-carousel .owl-controls .owl-nav .owl-prev:before,.owl-carousel .owl-controls .owl-nav .owl-next:before {
  display:block;
  line-height:42px
}
.owl-carousel .owl-controls .owl-nav .owl-prev:before {
  content:"\f104"
}
.owl-carousel .owl-controls .owl-nav .owl-next:before {
  content:"\f105"
}
.owl-carousel .owl-controls .owl-dots {
  position:relative;
  margin-top:9px;
  z-index:10
}
.owl-carousel .owl-controls .owl-dots .owl-dot {
  display:inline-block;
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:#abbdd1;
  margin:0 4px 8px 4px;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
  -webkit-transition:transform 0.25s;
  -o-transition:transform 0.25s;
  transition:transform 0.25s
}
.owl-carousel .owl-controls .owl-dots .owl-dot.active {
  -webkit-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -ms-transform:scale(1.5);
  -o-transform:scale(1.5);
  transform:scale(1.5)
}
.owl-carousel.owl-loaded {
  display:block
}
.owl-carousel.owl-loading {
  opacity:0;
  display:block
}
.owl-carousel.owl-hidden {
  opacity:0
}
.owl-carousel .owl-refresh .owl-item {
  display:none
}
.owl-carousel .owl-item {
  position:relative;
  min-height:1px;
  float:left;
  -webkit-tap-highlight-color:transparent;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.owl-carousel .owl-item img {
  display:block;
  margin:0 auto;
  -webkit-transform-style:preserve-3d
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select:auto;
  -moz-user-select:auto;
  -ms-user-select:auto;
  user-select:auto
}
.owl-carousel .owl-grab {
  cursor:move;
  cursor:-webkit-grab;
  cursor:-o-grab;
  cursor:-ms-grab;
  cursor:grab
}
.owl-carousel.owl-rtl {
  direction:rtl
}
.owl-carousel.owl-rtl .owl-item {
  float:right
}
.no-js .owl-carousel {
  display:block
}
.owl-carousel .owl-item .owl-lazy {
  opacity:0;
  -webkit-transition:opacity 400ms;
  -o-transition:opacity 400ms;
  transition:opacity 400ms
}
.owl-carousel .owl-item img {
  transform-style:preserve-3d
}
.time_circles {
  position:relative;
  width:100%;
  height:100%
}
.time_circles>div {
  position:absolute;
  text-align:center
}
.time_circles>div>h4 {
  margin:0px;
  padding:0px;
  text-align:center;
  text-transform:uppercase
}
.time_circles>div>span {
  display:block;
  width:100%;
  text-align:center;
  margin-top:0.5em;
  font-weight:300
}
.google-map {
  width:100%
}
@media screen and (max-width: 991px) {
  .google-map {
    height:350px !important
  }
}
@media screen and (max-width: 480px) {
  .google-map {
    height:250px !important
  }
}
.mfp-bg {
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:9980;
  overflow:hidden;
  position:fixed;
  background:#000;
  opacity:0.8
}
.mfp-zoom-out-cur .navbar,.mfp-zoom-out-cur .navbar.stuck,.mfp-fade ~ .page-wrapper .navbar,.mfp-fade ~ .page-wrapper .navbar.stuck {
  padding-right:17px
}
.mfp-zoom-out-cur .scroll-to-top-btn,.mfp-fade ~ .page-wrapper .scroll-to-top-btn {
  right:37px
}
.mac,.touch,.ie {
  margin-right:0 !important
}
.mac body,.mac .mfp-zoom-out-cur .navbar,.mac .mfp-zoom-out-cur .navbar.stuck,.mac .mfp-fade+.page-wrapper .navbar,.mac .mfp-fade+.page-wrapper .navbar.stuck,.touch body,.touch .mfp-zoom-out-cur .navbar,.touch .mfp-zoom-out-cur .navbar.stuck,.touch .mfp-fade+.page-wrapper .navbar,.touch .mfp-fade+.page-wrapper .navbar.stuck,.ie body,.ie .mfp-zoom-out-cur .navbar,.ie .mfp-zoom-out-cur .navbar.stuck,.ie .mfp-fade+.page-wrapper .navbar,.ie .mfp-fade+.page-wrapper .navbar.stuck {
  padding-right:0 !important
}
.mac .mfp-zoom-out-cur .scroll-to-top-btn,.mac .mfp-fade ~ .page-wrapper .scroll-to-top-btn,.touch .mfp-zoom-out-cur .scroll-to-top-btn,.touch .mfp-fade ~ .page-wrapper .scroll-to-top-btn,.ie .mfp-zoom-out-cur .scroll-to-top-btn,.ie .mfp-fade ~ .page-wrapper .scroll-to-top-btn {
  right:20px !important
}
.mfp-wrap {
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:9990;
  position:fixed;
  outline:none !important;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden
}
.mfp-container {
  text-align:center;
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  padding:0 8px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
.mfp-container:before {
  content:'';
  display:inline-block;
  height:100%;
  vertical-align:middle
}
.mfp-align-top .mfp-container:before {
  display:none
}
.mfp-content {
  position:relative;
  display:inline-block;
  vertical-align:middle;
  margin:0 auto;
  text-align:left;
  z-index:1045
}
.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content {
  width:100%;
  cursor:auto
}
.mfp-ajax-cur {
  cursor:progress
}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor:-moz-zoom-out;
  cursor:-webkit-zoom-out;
  cursor:zoom-out
}
.mfp-zoom {
  cursor:pointer;
  cursor:-webkit-zoom-in;
  cursor:-moz-zoom-in;
  cursor:zoom-in
}
.mfp-auto-cursor .mfp-content {
  cursor:auto
}
.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter {
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none
}
.mfp-loading.mfp-figure {
  display:none
}
.mfp-hide {
  display:none !important
}
.mfp-preloader {
  color:#ccc;
  position:absolute;
  top:50%;
  width:auto;
  text-align:center;
  margin-top:-0.8em;
  left:8px;
  right:8px;
  z-index:1044
}
.mfp-preloader a {
  color:#ccc
}
.mfp-preloader a:hover {
  color:#ccc
}
.mfp-s-ready .mfp-preloader {
  display:none
}
.mfp-s-error .mfp-content {
  display:none
}
button.mfp-close,button.mfp-arrow {
  overflow:visible;
  cursor:pointer;
  background:transparent;
  border:0;
  -webkit-appearance:none;
  display:block;
  outline:none;
  padding:0;
  z-index:1046;
  -webkit-box-shadow:none;
  box-shadow:none
}
button::-moz-focus-inner {
  padding:0;
  border:0
}
.mfp-close {
  width:44px;
  height:48px;
  line-height:44px;
  position:absolute;
  right:0;
  top:-5px;
  text-decoration:none;
  text-align:center;
  opacity:0.65;
  padding:0 0 18px 10px;
  color:#fff;
  font-weight:300;
  font-size:36px;
  -webkit-transition:opacity 0.25s ease-in-out;
  -o-transition:opacity 0.25s ease-in-out;
  transition:opacity 0.25s ease-in-out
}
.mfp-close:hover,.mfp-close:focus {
  opacity:1
}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close {
  color:#fff;
  right:-6px;
  text-align:right;
  padding-right:6px;
  width:100%
}
.mfp-counter {
  position:absolute;
  top:0;
  right:0;
  color:#fff;
  line-height:18px;
  white-space:nowrap
}
.mfp-arrow {
  position:absolute;
  opacity:0.65;
  margin:0;
  top:50%;
  margin-top:-55px;
  padding:0;
  width:90px;
  height:110px;
  text-align:center;
  -webkit-tap-highlight-color:transparent;
  -webkit-transition:opacity 0.25s ease-in-out;
  -o-transition:opacity 0.25s ease-in-out;
  transition:opacity 0.25s ease-in-out
}
.mfp-arrow:hover {
  opacity:1
}
.mfp-arrow:before {
  font-family:FontAwesome;
  font-size:40px;
  color:#fff;
  line-height:110px
}
.mfp-arrow-left {
  left:0
}
.mfp-arrow-left:before {
  content:'\f104'
}
.mfp-arrow-right {
  right:0
}
.mfp-arrow-right:before {
  content:'\f105'
}
.mfp-iframe-holder {
  padding-top:40px;
  padding-bottom:40px
}
.mfp-iframe-holder .mfp-content {
  line-height:0;
  width:100%;
  max-width:900px
}
.mfp-iframe-holder .mfp-close {
  top:-40px
}
.mfp-iframe-scaler {
  width:100%;
  height:0;
  overflow:hidden;
  padding-top:56.25%
}
.mfp-iframe-scaler iframe {
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:100%;
  height:100%;
  box-shadow:0 0 8px rgba(0,0,0,0.6);
  background:#000
}
img.mfp-img {
  width:auto;
  max-width:100%;
  height:auto;
  display:block;
  line-height:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:40px 0 27px;
  margin:0 auto
}
.mfp-figure {
  line-height:0
}
.mfp-figure:after {
  content:'';
  position:absolute;
  left:0;
  top:40px;
  bottom:40px;
  display:block;
  right:0;
  width:auto;
  height:auto;
  z-index:-1;
  box-shadow:0 0 8px rgba(0,0,0,0.6);
  background:#444
}
.mfp-figure small {
  color:#BDBDBD;
  display:block;
  font-size:12px;
  line-height:14px
}
.mfp-figure figure {
  margin:0
}
.mfp-bottom-bar {
  font-size:14px;
  margin-top:-20px;
  padding-bottom:10px;
  position:absolute;
  top:100%;
  left:0;
  width:100%;
  cursor:auto;
  opacity:.9
}
.mfp-title {
  text-align:left;
  line-height:18px;
  color:#fff;
  word-wrap:break-word;
  padding-right:36px
}
.mfp-image-holder .mfp-content {
  max-width:100%
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor:pointer
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left:0;
    padding-right:0
  }
  .mfp-img-mobile img.mfp-img {
    padding:0
  }
  .mfp-img-mobile .mfp-figure:after {
    top:0;
    bottom:0
  }
  .mfp-img-mobile .mfp-figure small {
    display:inline;
    margin-left:5px
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background:rgba(0,0,0,0.6);
    bottom:0;
    margin:0;
    top:auto;
    padding:3px 5px;
    position:fixed;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding:0
  }
  .mfp-img-mobile .mfp-counter {
    right:5px;
    top:3px
  }
  .mfp-img-mobile .mfp-close {
    top:0;
    right:0;
    width:35px;
    height:35px;
    line-height:35px;
    background:rgba(0,0,0,0.6);
    position:fixed;
    text-align:center;
    padding:0
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform:scale(0.75);
    -moz-transform:scale(0.75);
    -ms-transform:scale(0.75);
    -o-transform:scale(0.75);
    transform:scale(0.75)
  }
  .mfp-arrow-left {
    -webkit-transform-origin:0;
    transform-origin:0
  }
  .mfp-arrow-right {
    -webkit-transform-origin:100%;
    transform-origin:100%
  }
  .mfp-container {
    padding-left:6px;
    padding-right:6px
  }
}
.mfp-fade.mfp-bg {
  opacity:0;
  -webkit-transition:all 0.2s ease-out;
  -o-transition:all 0.2s ease-out;
  transition:all 0.2s ease-out
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity:0.8
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity:0
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity:0;
  -webkit-transform:scale(0.7);
  -moz-transform:scale(0.7);
  -ms-transform:scale(0.7);
  -o-transform:scale(0.7);
  transform:scale(0.7);
  -webkit-transition:all 0.25s ease-out;
  -o-transition:all 0.25s ease-out;
  transition:all 0.25s ease-out
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity:1;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1)
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity:0;
  -webkit-transform:scale(0.7);
  -moz-transform:scale(0.7);
  -ms-transform:scale(0.7);
  -o-transform:scale(0.7);
  transform:scale(0.7)
}
.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg {
  opacity:0;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity:1
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity:0.8
}
.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity:0
}
.footer {
  width:100%;
  background-color:#4c4c4c
}
.footer .footer-logo {
  display:inline-block;
  vertical-align:middle;
  width:130px;
  text-decoration:none;
  margin:13px 20px 36px 0
}
.footer .social-bar {
  display:inline-block;
  vertical-align:middle;
  margin:24px 0 36px 0
}
.footer .social-bar a {
  color:#fff;
  border-color:#fff
}
.footer .social-bar a:hover {
  color:#9bb0c8;
  background-color:transparent;
  border-color:#9bb0c8
}
.footer .market-btn {
  text-align:left;
  padding:50px 15px 50px 50px
}
.footer .market-btn .icon,.footer .market-btn .label {
  display:inline-block;
  vertical-align:middle;
  width:auto
}
.footer .market-btn .icon {
  margin-right:10px;
  margin-bottom:0
}
@media screen and (max-width: 480px) {
  .footer .market-btn {
    text-align:center;
    padding-left:15px
  }
  .footer .market-btn .icon,.footer .market-btn .label {
    display:block
  }
  .footer .market-btn .icon {
    margin-right:0;
    margin-bottom:8px
  }
}
.footer .widget {
  margin-bottom:31px
}
.footer .widget .widget-title {
  margin-bottom:16px
}
.footer .widget li>a {
  font-size:14px;
  color:#fff;
  font-weight:600;
  text-transform:uppercase
}
.footer .widget li>a:hover {
  color:#9bb0c8
}
.footer .copyright {
  font-size:14px;
  color:#fff;
  font-weight:300;
  margin-bottom:36px
}
.footer .copyright a {
  color:#fff;
  font-weight:600;
  text-decoration:none
}
.footer .copyright a:hover {
  color:#bbcada
}
.footer .copyright p {
  margin-bottom:0
}
.footer .form-control {
  background-color:#fff
}
.device-slider {
  position:relative;
  width:100%;
  background-color:#708eb1;
  padding-top:230px;
  padding-bottom:72px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover
}
.device-slider .container {
  position:relative;
  z-index:5
}
.device-slider:before {
  display:block;
  position:absolute;
  content:"";
  z-index:1;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:#333;
  opacity:0.72
}
.device-slider h1 {
  letter-spacing:.06em
}
.device-slider .block-title {
  padding-bottom:25px
}
.device-slider .angle {
  position:absolute;
  z-index:2;
  display:block;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow:hidden
}
.device-slider .angle:before {
  position:absolute;
  z-index:4;
  content:"";
  width:0;
  height:0;
  bottom:0
}
.device-slider .angle:before {
  border-bottom:72px solid #fff;
  border-right:1930px solid transparent;
  left:0
}
.device-slider .phone-carousel {
  position:relative;
  z-index:5;
  width:300px;
  margin:0 auto -135px auto;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.device-slider .phone-carousel .phone-mask {
  position:relative;
  z-index:1;
  width:100%
}
.device-slider .phone-carousel .cover {
  display:block;
  position:absolute;
  z-index:2;
  width:100%;
  height:100%;
  top:0;
  left:0;
  padding:81px 34px 0 33px
}
.device-slider .phone-carousel .carousel {
  position:absolute;
  z-index:3;
  width:100%;
  height:100%;
  top:0;
  left:0;
  padding:81px 34px 0 33px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.device-slider .phone-carousel .carousel .owl-carousel .owl-controls .owl-dots {
  position:absolute;
  width:100%;
  text-align:center;
  top:-115px;
  z-index:10
}
.device-slider .phone-carousel .carousel .owl-carousel .owl-controls .owl-dots .owl-dot {
  background-color:#fff
}
@media screen and (max-width: 991px) {
  .device-slider .container {
    width:100%
  }
  .device-slider .phone-carousel {
    margin-bottom:0
  }
  .device-slider .angle:before {
    border-bottom:50px solid #fff;
    border-right:1000px solid transparent
  }
}
@media screen and (max-width: 991px) {
  .device-slider {
    padding-top:164px
  }
}
@media screen and (max-width: 768px) {
  .device-slider {
    padding-bottom:120px
  }
  .device-slider .phone-carousel {
    margin-bottom:24px
  }
  .device-slider .angle:before {
    border-bottom:40px solid #fff;
    border-right:800px solid transparent
  }
}
@media screen and (max-width: 480px) {
  .device-slider {
    padding-bottom:72px
  }
}
html,body {
  height:100%
}
.cd-main-content {
  position:relative;
  overflow:hidden;
  background-color:#f2f2f2;
  background-repeat:repeat;
  background-attachment:fixed
}
@media only screen and (min-width: 1070px) {
  .cd-main-content {
    position:relative;
    height:100%;
    min-height:500px;
    padding:0 10%
  }
}
.cd-main-content .container {
  position:relative
}
@media only screen and (min-width: 1070px) {
  .cd-main-content .container {
    height:100%
  }
}
@media screen and (max-width: 1200px) {
  .cd-main-content .container {
    width:100%
  }
}
@media only screen and (min-width: 850px) {
  .cd-main-content .container {
    width:100%
  }
}
.cd-product-intro {
  padding:140px 0 50px 0;
  text-align:center
}
.cd-product-intro .cd-triggers:before,.cd-product-intro .cd-triggers:after {
  content:" ";
  display:table
}
.cd-product-intro .cd-triggers:after {
  clear:both
}
@media only screen and (min-width: 850px) {
  .cd-product-intro {
    padding:170px 0 50px 0;
    max-width:100%
  }
}
@media screen and (max-width: 991px) {
  .cd-product-intro {
    padding:140px 0 50px 0
  }
}
@media only screen and (min-width: 1070px) {
  .cd-product-intro {
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    position:absolute;
    top:50%;
    -webkit-transform:translate(0, -46%);
    -moz-transform:translate(0, -46%);
    -ms-transform:translate(0, -46%);
    -o-transform:translate(0, -46%);
    transform:translate(0, -46%);
    max-width:500px;
    width:auto;
    left:10%;
    padding:0;
    text-align:left;
    -webkit-transition:-webkit-transform 0.3s,opacity 0.3s;
    -moz-transition:-moz-transform 0.3s 0s,opacity 0.3s;
    transition:transform 0.3s,opacity 0.3s
  }
  .is-product-tour .cd-product-intro {
    opacity:0;
    -webkit-transform:translateY(-46%) translateX(-50%);
    -moz-transform:translateY(-46%) translateX(-50%);
    -ms-transform:translateY(-46%) translateX(-50%);
    -o-transform:translateY(-46%) translateX(-50%);
    transform:translateY(-46%) translateX(-50%)
  }
}
@media screen and (min-width: 1250px) {
  .cd-product-intro {
    width:50%;
    -webkit-transform:translate(20%, -46%);
    -moz-transform:translate(20%, -46%);
    -ms-transform:translate(20%, -46%);
    -o-transform:translate(20%, -46%);
    transform:translate(20%, -46%)
  }
}
#cd-product-tour {
  position:relative
}
#cd-product-tour>ul {
  list-style:none;
  padding:0
}
@media only screen and (min-width: 1070px) {
  #cd-product-tour {
    width:100%;
    max-width:850px;
    margin:0 auto;
    height:500px;
    top:50%;
    left:0;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-transform:translateY(-46%) translateX(75%);
    -moz-transform:translateY(-46%) translateX(75%);
    -ms-transform:translateY(-46%) translateX(75%);
    -o-transform:translateY(-46%) translateX(75%);
    transform:translateY(-46%) translateX(75%);
    -webkit-transition:-webkit-transform 0.3s;
    -moz-transition:-moz-transform 0.3s;
    transition:transform 0.3s
  }
  .is-product-tour #cd-product-tour {
    -webkit-transform:translateY(-46%) translateX(0);
    -moz-transform:translateY(-46%) translateX(0);
    -ms-transform:translateY(-46%) translateX(0);
    -o-transform:translateY(-46%) translateX(0);
    transform:translateY(-46%) translateX(0)
  }
  #cd-product-tour>ul {
    list-style:none;
    padding:0;
    height:100%;
    width:100%
  }
}
.cd-single-item {
  padding:40px 0 80px;
  width:100%;
  text-align:center;
  border-top:1px solid #ccc
}
@media only screen and (min-width: 480px) {
  .cd-single-item {
    padding:40px 3% 90px
  }
}
@media only screen and (min-width: 850px) {
  .cd-single-item {
    padding:40px 6% 90px
  }
  .cd-single-item:before,.cd-single-item:after {
    content:" ";
    display:table
  }
  .cd-single-item:after {
    clear:both
  }
  .cd-single-item .cd-caption {
    position:relative;
    width:50%;
    float:left;
    -webkit-transform:translateY(40%);
    -moz-transform:translateY(40%);
    -ms-transform:translateY(40%);
    -o-transform:translateY(40%);
    transform:translateY(40%)
  }
  .cd-single-item:nth-child(2n) .cd-caption {
    float:right
  }
}
@media only screen and (min-width: 1070px) {
  .cd-single-item {
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-46%);
    -moz-transform:translateY(-46%);
    -ms-transform:translateY(-46%);
    -o-transform:translateY(-46%);
    transform:translateY(-46%);
    left:0;
    text-align:left;
    border-top:none;
    padding:0;
    visibility:visible
  }
  .cd-single-item.cd-not-visible {
    visibility:hidden
  }
  .cd-single-item .cd-caption {
    width:60%;
    float:right;
    margin:80px 0 0 5%;
    opacity:0;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-transition:-webkit-transform 0.3s,opacity 0.3s;
    -moz-transition:-moz-transform 0.3s 0s,opacity 0.3s;
    transition:transform 0.3s,opacity 0.3s
  }
  .is-product-tour .cd-single-item.cd-active .cd-caption {
    opacity:1
  }
  .cd-single-item.cd-move-right .cd-caption {
    -webkit-transform:translateX(100px);
    -moz-transform:translateX(100px);
    -ms-transform:translateX(100px);
    -o-transform:translateX(100px);
    transform:translateX(100px)
  }
}
.cd-image-container {
  max-width:226px;
  margin:0 auto;
  padding-top:50px
}
.cd-image-container>div {
  position:relative
}
.cd-image-container img {
  display:block
}
@media only screen and (min-width: 850px) {
  .cd-image-container {
    float:right
  }
  .cd-single-item:nth-child(2n) .cd-image-container {
    float:left
  }
}
@media only screen and (min-width: 1070px) {
  .cd-image-container {
    height:402px;
    width:35%;
    float:left;
    max-width:none;
    padding-top:0
  }
  .cd-image-container>div {
    display:inline-block;
    max-width:100%;
    max-height:100%
  }
  .cd-image-container img {
    height:402px;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-transition:-webkit-transform 0.3s;
    -moz-transition:-moz-transform 0.3s;
    transition:transform 0.3s
  }
  .cd-move-right .cd-image-container img {
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -ms-transform:translateX(100%);
    -o-transform:translateX(100%);
    transform:translateX(100%)
  }
  .cd-move-right .cd-image-container video {
    -webkit-transform:translateX(50%) translateY(-46%) rotate(-90deg);
    -moz-transform:translateX(50%) translateY(-46%) rotate(-90deg);
    -ms-transform:translateX(50%) translateY(-46%) rotate(-90deg);
    -o-transform:translateX(50%) translateY(-46%) rotate(-90deg);
    transform:translateX(50%) translateY(-46%) rotate(-90deg)
  }
}
.cd-phone-frame {
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  position:absolute;
  top:-45px;
  left:-10px;
  width:100%;
  height:100%;
  border-color:#444;
  border-style:solid;
  border-width:45px 10px;
  border-radius:2.5em;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden
}
.cd-phone-frame:after,.cd-phone-frame:before {
  position:absolute;
  content:"";
  left:50%;
  right:auto;
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  transform:translateX(-50%);
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  background-color:#303030;
  border-radius:50%
}
.cd-phone-frame::before {
  height:11px;
  width:11px;
  top:-28px
}
.cd-phone-frame::after {
  height:31px;
  width:31px;
  bottom:-38px
}
.cd-image-wrapper {
  position:relative;
  overflow:hidden;
  z-index:2
}
.cd-slider-nav {
  display:none;
  position:absolute;
  bottom:0;
  left:0;
  z-index:1;
  width:100%;
  height:70px
}
.cd-slider-nav:before,.cd-slider-nav:after {
  content:" ";
  display:table
}
.cd-slider-nav:after {
  clear:both
}
.cd-slider-nav a {
  position:relative;
  display:block;
  height:100%;
  width:50%;
  float:left;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  color:transparent;
  background:#e5e5e5
}
.cd-slider-nav a:before {
  position:absolute;
  content:"";
  left:50%;
  top:50%;
  bottom:auto;
  right:auto;
  -webkit-transform:translateX(-50%) translateY(-50%);
  -moz-transform:translateX(-50%) translateY(-50%);
  -ms-transform:translateX(-50%) translateY(-50%);
  -o-transform:translateX(-50%) translateY(-50%);
  transform:translateX(-50%) translateY(-50%);
  width:24px;
  height:16px;
  background:url(../img/app-intro/cd-arrow.svg) no-repeat center center;
  background-size:100%;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden
}
.cd-slider-nav .cd-next {
  border-left:1px solid #d1d1d1
}
.cd-slider-nav .cd-next::before {
  -webkit-transform:translateX(-50%) translateY(-50%) rotate(180deg);
  -moz-transform:translateX(-50%) translateY(-50%) rotate(180deg);
  -ms-transform:translateX(-50%) translateY(-50%) rotate(180deg);
  -o-transform:translateX(-50%) translateY(-50%) rotate(180deg);
  transform:translateX(-50%) translateY(-50%) rotate(180deg)
}
@media only screen and (min-width: 1070px) {
  .cd-slider-nav {
    display:block
  }
  .cd-slider-nav a {
    visibility:hidden;
    opacity:0;
    -webkit-transition:opacity 0.3s 0s,visibility 0s 0.3s,background 0.2s;
    -o-transition:opacity 0.3s 0s,visibility 0s 0.3s,background 0.2s;
    transition:opacity 0.3s 0s,visibility 0s 0.3s,background 0.2s
  }
  .is-product-tour .cd-slider-nav a {
    visibility:visible;
    opacity:1;
    -webkit-transition:opacity 0.3s 0s,visibility 0s 0s,background 0.2s;
    -o-transition:opacity 0.3s 0s,visibility 0s 0s,background 0.2s;
    transition:opacity 0.3s 0s,visibility 0s 0s,background 0.2s
  }
  .is-product-tour .cd-slider-nav a.cd-inactive {
    visibility:hidden;
    opacity:0;
    -webkit-transition:opacity 0.3s 0s,visibility 0s 0.3s,background 0.2s;
    -o-transition:opacity 0.3s 0s,visibility 0s 0.3s,background 0.2s;
    transition:opacity 0.3s 0s,visibility 0s 0.3s,background 0.2s
  }
}
.cd-main-content.dark-skin {
  background-color:#4c4c4c
}
.cd-main-content.dark-skin .cd-product-intro,.cd-main-content.dark-skin .cd-single-item .cd-caption {
  color:#fff
}
.cd-main-content.dark-skin .cd-product-intro h1,.cd-main-content.dark-skin .cd-product-intro h2,.cd-main-content.dark-skin .cd-product-intro h3,.cd-main-content.dark-skin .cd-product-intro h4,.cd-main-content.dark-skin .cd-product-intro h5,.cd-main-content.dark-skin .cd-product-intro h6,.cd-main-content.dark-skin .cd-single-item .cd-caption h1,.cd-main-content.dark-skin .cd-single-item .cd-caption h2,.cd-main-content.dark-skin .cd-single-item .cd-caption h3,.cd-main-content.dark-skin .cd-single-item .cd-caption h4,.cd-main-content.dark-skin .cd-single-item .cd-caption h5,.cd-main-content.dark-skin .cd-single-item .cd-caption h6 {
  color:#fff
}
.cd-main-content.dark-skin .cd-slider-nav a {
  background:#3f3f3f
}
.cd-main-content.dark-skin .cd-slider-nav a:before {
  background:url(../img/app-intro/cd-arrow-light.svg) no-repeat center center
}
.cd-main-content.dark-skin .cd-slider-nav .cd-next {
  border-left:1px solid #4f4f4f
}
.cd-main-content.dark-skin .cd-phone-frame {
  border-color:#303030
}
.cd-main-content.dark-skin .cd-phone-frame:after,.cd-main-content.dark-skin .cd-phone-frame:before {
  background-color:#212121
}
body.scroll-slideshow {
  background-color:#2b2b2b
}
body::before {
  content:'mobile';
  display:none
}
@media only screen and (min-width: 1050px) {
  body::before {
    content:'desktop'
  }
}
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow:hidden
  }
}
.cd-section {
  height:100vh
}
.cd-section .content {
  position:relative;
  height:100vh;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover
}
.cd-section .content .inner {
  position:absolute;
  width:100%;
  left:0;
  top:50%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%)
}
@media only screen and (min-width: 1050px) {
  .cd-section h2 {
    font-size:4rem;
    font-weight:300
  }
  [data-hijacking="on"] .cd-section {
    opacity:0;
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    width:100%
  }
  [data-hijacking="on"] .cd-section>div {
    visibility:visible
  }
  [data-hijacking="off"] .cd-section>div {
    opacity:0
  }
  [data-animation="rotate"] .cd-section {
    -webkit-perspective:1800px;
    -moz-perspective:1800px;
    perspective:1800px
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin:center 0;
    -moz-perspective-origin:center 0;
    perspective-origin:center 0
  }
  [data-animation="scaleDown"] .cd-section>div,[data-animation="gallery"] .cd-section>div,[data-animation="catch"] .cd-section>div {
    box-shadow:0 0 0 rgba(51,51,51,0.4)
  }
  [data-animation="opacity"] .cd-section.visible>div {
    z-index:1
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type>div::before {
    display:none
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section>div {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden
  }
  [data-hijacking="on"] .cd-section>div {
    position:absolute
  }
  [data-animation="rotate"] .cd-section>div {
    -webkit-transform-origin:center bottom;
    -moz-transform-origin:center bottom;
    -ms-transform-origin:center bottom;
    transform-origin:center bottom
  }
}
.cd-vertical-nav {
  position:fixed;
  z-index:1;
  list-style:none;
  padding:0;
  right:3%;
  top:50%;
  bottom:auto;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  display:none
}
.cd-vertical-nav a {
  display:block;
  height:40px;
  width:40px;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  background:url(../img/scroll-slideshow/cd-icon-arrow.svg) no-repeat center center
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
  margin-bottom:10px
}
.cd-vertical-nav a.inactive {
  visibility:hidden;
  opacity:0;
  -webkit-transition:opacity 0.2s 0s,visibility 0s 0.2s;
  -o-transition:opacity 0.2s 0s,visibility 0s 0.2s;
  transition:opacity 0.2s 0s,visibility 0s 0.2s
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display:block
  }
}
.error404 {
  background:url(../img/noise.gif);
  background-repeat:repeat;
  background-attachment:fixed
}
.error404 .footer {
  background-color:#fff
}
.page-404 {
  text-align:center;
  padding-top:12%
}
.page-404-title {
  font-size:160px
}
@media screen and (max-width: 991px) {
  .page-404 {
    padding-top:134px
  }
}
@media screen and (max-width: 480px) {
  .page-404 {
    padding-top:96px
  }
  .page-404-title {
    font-size:128px;
    margin-bottom:10px
  }
}
.error404.light-skin .page-404-title,.error404.light-skin h2,.error404.light-skin .page-404-content {
  color:#fff
}
.coming-soon {
  background-color:#f2f2f2;
  background-repeat:repeat;
  background-attachment:fixed
}
.coming-soon.light-skin h1,.coming-soon.light-skin h2,.coming-soon.light-skin h3,.coming-soon.light-skin h4,.coming-soon.light-skin h5,.coming-soon.light-skin h6,.coming-soon.light-skin p,.coming-soon.light-skin .social-bar a,.coming-soon.light-skin .time_circles>div>h4,.coming-soon.light-skin .time_circles>div>span {
  color:#fff
}
.cs-page {
  text-align:center
}
.cs-page .site-logo {
  position:relative;
  display:inline-block;
  margin-bottom:48px;
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);
  -ms-transform:translateY(0);
  -o-transform:translateY(0);
  transform:translateY(0)
}
